<html>
<head>
    <%- include('element-ui-styles.ejs'); %>
    <style>

        .page-name{
            /*border-top: 1px solid;*/
            /*border-left: 1px solid;*/
        }

        .header> .el-row> .el-col{
            /*border: 1px solid;*/
            /*border-top: 1px solid;*/
        }

        .header> .el-row:nth-child(1){
            /*border-left: 1px solid;*/
            /*border-bottom: 1px solid;*/
        }
        .header > .el-row {
            /*border-left: 1px solid;*/
            /*border: 1px solid;*/
        }

        /*@media (min-width: 992px) {*/
        .header > .el-row > .el-col:nth-child(2){
            /*border-left: 1px solid;*/
            /*border-right: 1px solid;*/
        }
        /*}*/

        .header > .el-row h4 {
            padding: 0 50px;
        }

        .header > .el-row .el-form-item {
            padding: 10px 5px;
        }

        .header > .el-row .el-form-item .el-form-item__content {
            margin-left: 50px;
        }

        .header > .el-row .el-col:nth-child(2) > .el-row {
            margin-top: 10px;
            /*margin-bottom: 0px;*/
        }

        .header .page-name {
            background: #f4f4f5;
            /*border-bottom: 1px solid;*/
        }

        .intro {
            margin-bottom: 30px;
        }

        .typeOfServices {
            float: left;
            padding-top: 10px;
        }

        .typeOfServices .el-checkbox-group {
            display: inline;
        }

        @media (max-width: 992px) {
            .others-specify-text-input {
                margin-top: 50px;
            }
        }

        .small-instructions {
            font-size: 0.83em;
            margin-left: 25px;
            margin-bottom: 15px;
        }

        .submit-button {
            margin-top: 20px;
        }

        .el-alert__title {
            font-size: 20px;
            color: black;
        }

        .header .el-form-item__label, .others-specify-text-input .el-form-item__label {
            text-align: left;
            padding-left: 0px;
        }

        .others-specify-text-input {
            margin-left: 5px;
        }

        .others-specify-text-input .el-form-item__content {
            width: 80px;
        }

        .el-form-item__label {
            text-align: left;
            padding-left: 20px;
        }
        
        .el-select {
            width: 100%;
        }

        .app-container {
            width: 800px;
            padding: 5px;
        }
        .el-radio__input.is-checked .el-radio__inner{
            border-color: #409EFF;
            background: #409EFF;
        }

        .el-radio__inner {
            border: 4px solid #DCDFE6;
            border-radius: 100%;
            width: 14px;
            height: 14px;
            background-color: #FFF;
            cursor: pointer;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background-color: #409EFF;
            border-color: #409EFF;
        }
        .el-checkbox__inner {
            border: 4px solid #DCDFE6;
        }

        .typeOfServices input{
            margin-left: 15px;
        }

        .signature-section{
            margin-top:20px;
        }

        .el-alert__title {
            font-size: 20px;
            color: black;
        }

        .el-form-item{
            padding-left:10px;
            padding-right:10px;
            padding-top: 0px;
            padding-top: 0px;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .client-info__header{
            text-align: center;
        }

        i {
            font-size: 20px;
            line-height: 30px;
            transition: .3s;

        }



        .remarks{
            margin-top:5px;
        }
        .submit-button {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        /*.section-header {*/
        /*    border-left: 5px solid rgb(0, 0, 0);*/
        /*    border-radius:4px;*/
        /*    padding-left:5px;*/
        /*}*/

        .el-alert--info.is-light {
            background-color: #f4f4f5;
            color: #909399;
        }

        .el-input__inner{
            border-top:0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .footer{
            margin-top:15px;
        }

        .footer .el-row{
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }
    </style>
</head>
<body>
<div class="app-container">
    <div class="el-form" id="referral-form" label-width="180px">
        <div class="el-container">
            <div class="el-main">
                <div class="el-row">
                    <div class="el-col el-col-12" style="height: 50px; ">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="223px" height="50px" viewBox="0 0 815 183" enable-background="new 0 0 815 183" xml:space="preserve">  <image id="image0" width="815" height="183" x="0" y="0"
                                                                                                                                                                                                                                                                          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAy8AAAC3CAYAAAAb8GGDAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
                                CXBIWXMAAA7DAAAOwwHHb6hkAACAAElEQVR42u29eZxcVZ2w/5xzl6pesgEBCauAbIIgIBA2FQFB
                                VtH5Oa6gMwqKoOg4zryvM4POuPIyjruOI+r7OiOyExLCviTsEiDsO4YEkhASsnR3Lffec35/3Dq3
                                T1Wqu6pTVd3VyXnyqU+6q6vucu6953z3r9BaaxwOh8PhcDgcDoejy/HH8mGlFFLKjf5P/9jlOpAU
                                DU6uw8cfC/AhkgkChYdGaACBFh6i0/uXGqVVZShk9rZGIxAklVtBkCA0CKFBA6TfQYSdPT6Hw+Fw
                                OBwOh6MBYqyeF601WuthpQVIkgTP8yb6XLoblYBI9QEhBKjK+AkoC+j06Mma3+2rLgRopdLjQqS/
                                V/6WVD4biOb243A4HA6Hw+FwdIqmlRfb26K1xvO8KqWl26PPUsF8ZDp9/EVRRCMBgQR8PDydHpdG
                                ge6sdiBUkmop6cmmL/O7ECAr6pPSgNz4eJxu6nA4HA6Hw+GYYMasvNhorRsqBY4KSfpfpjNYL41C
                                aNnCxhujdOpZEUJkipp97WKi9PhIQ8kAZEVj8RAVlcvhcDgcDofD4Zg4xhQ2FkURnudloWO+79cV
                                hB0bE5HgIZGJBi1JE0tAC4UiQYoxpR9twv5V1e+i8k9X/oWxnzpbpNGu0s9rEtAa6XJeHA6Hw+Fw
                                OBwTzJg8LyZczPwupXTel6aJoBIepgQkCAQ+vhKpntBZ3SXdh9FfzOWyrnziV6LJRPpnqdMXqvK5
                                YKLHz+FwOBwOh8OxpTPmhH3jfakNIXOMTgJ4ZqRFRESCQuLh4WsPLVQrm2+IIE3KBxBSgtbDoYBC
                                gCqlSpWQaAQaD5BILRAKfJfz4nA4HA6Hw+GYYJpWXrTWDA4O8vDDDzM4OJgl7Pu+j1IKRZcn7DfI
                                Kem08qB1xNalMtsPDbBNcZC8KqBFQiQB4UFnd48Ww14yU3hBKYXv+4RhSNy/PaInj5g2DTlzK8T0
                                GdDXj/IDEgRBx11DDofD4XA4HA7H6IxJItVa89QzTzMwVMzeE8qFjTVDJCV9qsSpS/9Msm49Q34l
                                dExqvFiiJsizUa68tA6QWiF1TCIg6e1DvmV7wp13I9x2Wwb3mE3fzJnQkwOZxpClnhsARYKfFgWI
                                S/jSBy+gkH4KSUSO3ERfAofD4XA4HA7HJKdp5cUoKLWKilNcNg8SNEiFpyWhSkgGB0leXELhpdcY
                                lAF5+d9s2G5Hoj32p2f/w+nZfR9kXx8xqdMoYBAvyoPXQ1GCUGV6dAKRBC/ncmYcDofD4XA4HC0z
                                Js+LrcB0e18Xx9jwpSIBiiikl3ak8VWZnCojY03BC/BeXYZ89UVK91xPcdudCPY+lPCA2YR77k+E
                                hwg9irEi1JJAhiRJhMz5oIZrBDgcDofD4XA4HJtKy4kMrtrY5oFQMRJNLCVlRFq+2dMEftrnhQhK
                                cYzv+wRKol57jcKr1zL0wK1stf0s5LGn4e19AP29W6MllFDEXkQPAiV953hxOBwOh8PhcLTMJikv
                                tV4Xp8BMfpSOEXj0KAkItPYq1xWUUHhSg/AQQqDKMQHQG3qUBtZSePlN4v96BbHNTuSOP5HcoYeT
                                96aB6CUJQBHh4sYcDofD4XA4HK0y5oT9euFiTnGZ/AgpEVqglUIqgUCihCABNBLhD6ESkCJPmOuF
                                RFCIy0RCgu8RDA2g1j6HvuwlhhbcjDjhZPrecSSe7GHIC1y6vsPhcDgcDoejZcbseXGKymaK8lFC
                                oyTgpd4WEKiKsqrjEBH4lFGUkyKe1oTSo0eGlIsxSa9ARooCZfylT+Ff+hJr33E34ftPZ8pb3wmu
                                T4zD4XA4HA6Ho0VaynkRQiCES+DfHPB0gJIaLRJikYBO8BSEePhaUNQgEoWvFL70kBKSJEH7kKDI
                                FQUFIQj8HDouIbwywaN/Zuill+idfQR8+NyJPkWHw+FwOBwOxyRnk6qN1eIUl8lP4kXpDxp8LQEJ
                                AhIgESAq9cKklCg0SgC+RCvw8Ug8CAFUhPAlCYAHucHVbLj1euQLz9P3sc8Q77wPfqxBaiIVIfwe
                                lIZQQYzG8wQ61khfEKNJVImcFOACzxwOh8PhcDi2eGTrm3A4GiOWvsrqH32X4j3zwRcQSwK/BwX4
                                lEg8UJ5GAVonEIOfCHIiT1R2yrHD4XA4HA6HwykvjnHCK6wiHHyT6PLfs/aa34IXQwJhPIQkB0mC
                                l2g0GgIfLRRECSTgifxEH77D4XA4HA6Howtouc+Lw9EMUd4jFmWioRJT5s9lYPVK+j72aVTv9qgY
                                Aplm9KtYU5YxwpN4HkgF0tWIcDgcDofD4XDgPC+OcUIlEqnz9OsepDeE9+c7eP3H/0605lWKPhR0
                                gtIgpcBXEq3LJChiGaPVRB+9w+FwOBwOh6MbcMqLY1yIpSIckkgvoKQ8ksRnxpJnKfzkYqa8uQrp
                                JRQ8TSLBR5IvawQR6BiB014cDofD4XA4HE55cYwTMgmJppaIRUIch4Q5SVwcRL6xAvXz75JbsYw+
                                ygwqBQoQeXztIYSHu00dDofD4XA4HOCkQsc4IaVGDvkkegDZu4FiAjqcildex7pX/8yrl10Da9Yg
                                JBQ9wBeUtSDBRznHi8PhcDgcDocDp7w4xgkBaF8jRR4vyiMAJcpoIfHVVPqfngdXXs4UhghUDDEE
                                SUheC5IgnujDdzgcDofD4XB0AU55cXQFntfHmj/fRfm6uXi+Ig41JZGWU47SlpcOh8PhcDgcji0c
                                p7w4ugKRSLxkDcy7luKTDxIzROgLSDTeRB+cw+FwOBwOh6MrcMqLoyuIkjK53j5KeiXxH/8Ab67C
                                1wIdRORKuYk+PIfD4XA4HA5HF+CUF0dX4ElBoZSge0JyS16Ca+cTqwIqkSD1RB+ew+FwOBwOh6ML
                                cMqLoyvI46OlpncoIOnPkdx9G6XFD6IDn3Lgcl4cDofD4XA4HE55cXQJkS7jS0g8n6gUEYWD+PNu
                                QBSW4+FP9OE5HA6Hw+FwOLoAp7w4uoI4iCniUVRlRK9HkCQMLH8aec8CtHO8OBwOh8PhcDhwyouj
                                S1CJIPQihFT4QwFlPyBQRQZvvxt/YBVRWRMDcTwAuoTSkHZ/iUhcGxiHw+FwOByOLQKnvDi6Ak/l
                                EbFGC1C+RCtAKZL1b1D8870EoUDGILwQEAg9nMevXVSZw+FwOBwOxxaBU14cXYGvc0jlo4DE0wjA
                                EwI5tIbyfbdDYQNSKbTwSRKFECAEoBRiog/e4XA4HA6HwzEuOOXF0RVooRBSI4lBxHhKggwQMsJ7
                                9UXKzzyJCjUaiafTtpUCSACBK6XscDgcDofDsSXglBdHVxCLEkiN1BqhFBKBxicOA6QuMfDn+9DE
                                iARAoirfU1IgVQs7djgcDofD4XBMGpzy4ugKlCiTCPCRCJ2gSVCJJsYj9gJ48Qm8tasRGpCCWCdo
                                QOBN9KE7HA6Hw+FwOMYJp7w4ugIPQaR9UDkSIVEywdeaIIFES+T6FfDkC3gSlJcgVUIC+JpK8ovD
                                4XA4HA6HY3PHKS+OriAgRMUempBEQOTFhChySGSikXoInnsFJAyh8UWa80IsUMLlvDgcDofD4XBs
                                CTjlxdEVRELTIxWJV8JHkEtyFDyPSGiEBO1NIVq6CIqDhIREnk4DxiSIxHleHA6Hw+FwOLYEnPLi
                                mBToKKI4sA7WvpmWUTYFkoVAuLvY4XA4HA6HY4vAiX2OSYGHICkOEa1dg4dGZMpLjGv04nA4HA6H
                                w7Fl4JQXx6QgkB6UhxDr1yHRFX1FAbryv8PhcDgcDodjc8ef6ANwOJpBJQlCaFi/Nv1dawQaITRa
                                C1dwzOFwOBwOh2MLwHleHJMCjUCIBG+oUHnDR2cKi9NcHA6Hw+FwOLYEnPLimBRoz0dIjS4OpW8I
                                ibl9XaVkh8PhcDgcji0DFzbmmBTEiQYRE5fKeNrytWjndXE4HA6Hw+HYUnCeF8ekwJMS6fmI0Ach
                                kVQ8LkKjpHO9OBwOh8PhcGwJOOXFMSnQqozWGumHCFJlReuK0uK8Lw6Hw+FwOBxbBE55cUwKfBQC
                                ED0hoKg4XXC3sMPhcDgcDseWg5P8HJMCIRM0Et3Xj8AujSxQzvHicDgcDofDsUXglBfHpEAIgZIB
                                qq8fnTWmrFQbm+iDczgcDofD4XCMC055cUwKEgUEPejpWxEjSJUXXL6Lw+FwOBwOxxaEU14ck4JE
                                SPze6YQztkYhUegsdEwaRcbhcDgcDofDsVnjlBfHpEB7AbmeKTB1OgK70hiVMDKHw+FwOBwOx+aO
                                U14cXUGCR4hEkRDLmFysCIoKgUQlmpwaItphb7ToIQfElNAyRgsPmSQTffgOh8PhcDgcjnHAKS+O
                                rkDoVAERQpAkmkgIVCiJhUJ6grL26N1pR4SXFkr2RZiWThYKPH+iD9/hcDgcDofDMQ445cXRHeiY
                                RCkkHr72SSSUfEVZR3g6ppyfgnjb29ACYl3G0zm0FkCEu40dDofD4XA4tgyc1OfoCoTQJGhUBIEI
                                AFBKESiFrwXiLTvDW7YjAbTQoE2JZEU80QfvcDgcDofD4RgXnPLi6AqEB8KToBQSEBpyQK/MkWif
                                /n0PIe7pR6HwIK2ULDwgweXrOxwOh8PhcGwZOOXF0RUkiUZKiSckSii0UOS0RCUeA/k+cvsfDKna
                                go9PpAAUaN91qXQ4HA6Hw+HYQnDKi6Nr0BUFJhKKWCp0AkPaw9/zbegd3oqvU48MiYf2TYFkr6LS
                                OBwOh8PhcDg2d5zy4ugKQj8HiQIpiCXEniJCkeRyzHjnOxjM5SAGoTVogZZUWlO6W9jhcDgcDodj
                                S8FJfo6uIEZQiot4OiFfgCCBYs6nd0Y/8QEfoB8gAF964EMOgYcE4bmoMYfD4XA4HI4tBKe8OLoC
                                HcWE+RxDiYfo8QjI4xXL5N9zCn5f70QfnsPhcDgcDoejC3DKi6Mr8ASoxIPQZzApEybgbbcr/uzj
                                iUkm+vAcDofD4XA4HF2AU14cXUGiY0QsEXoDATCkY6ac/Nfovj7KwtVCdjgcDofD4XA45cXRJSjp
                                4QeQQ+MRIQ48FA49FhWXyQl3mzocDofD4XA4wJ/oA3A4AKQM0BRRUUh5Ro6tT/oISSCQCIRWrpeL
                                w+FwOBwOh8N5XhzdgY4TlFIM5vvpf++HiHbdG6FBEIB2nVwcDofD4XA4HE55cXQJUkpkEjBtt53J
                                v/vDKOlRjEqQQCSc8uJwOBwOh8PhcMpL20gkaVNFmf6sPAGBl70vhETEQ0givHxETvkEWqASj0AD
                                QoAQSM9DA0qnSeo6UcjNIGZqKJcgYo2vfYQWREIjPFBxQiEUTC1pyrP2wv/oZyj0SvKJoicMwIMg
                                muijdzgcDofD4XB0A055aRMSgS89PCEROlU64nKEThT5MEeSBISyDz/pp1SQrNOCoR6fJC8o+yXQ
                                mqhcJiqXkULgex5CCJCCJJn8pYKnDEniQOLHMTEReTx0WSKlx7YDJd6YtgO9Z56C95ad6SlIEJIh
                                YgpJyd2lDofD4XA4HA7AJey3Fa01Sim01vi+jxCCKIool8vkdS9lLRmQCVMCj7yCuFAiUYI4lydI
                                IBeEaK3RiSJRCul7BEFAFE1+10MsBFPKmkE/IZQhZWICoSHIUdR5+v6/jyIPOBSl+yBJ0BJ68BCe
                                QCmFdBqMw+FwOBwOxxaPkwjbRBzHAJnSEscxSZIgpcTzPAr+WsgVQSbESZkyiiiUBL6HrxRxHCM1
                                wy+ZenCUUlkI2WRGCMGQH+EpyQAJoaeJRZGS6iE863MERxyNog8VQ9zvoZIYmYACkskfNedwOBwO
                                h8PhaANOeWkTvbk8QmlIFIH0CD0fX0ikBhXFJFGMNxQhymV6yjFTSkVyUQkvjlEK/CBECUGSpPkx
                                oRegNcRRgudNfgeZ0hFShOjAoxdFVE4QeiZTz/oM8qj3UUbglxJUAAEQlCLKnqakFYF2t6nD4XA4
                                HA6Hw4WNtY0oijJPC0C5XEYpRRiGTJkyhT23nkmPhJ6dp5MMrkevWMeGNS/Tu3YDfjREIddD6Pl4
                                uRBVjtBaI6SASiianOTeB+35JIlHvliinE9IcjOZ8ckvIg4+nETH9MQgfJ8kKREmEnwfhSQHqfvF
                                6S8Oh8PhcDgcWzxOeWkTSiny+TxKKYrFImEYssMOO7DXXnuxxx57EPYVEXoGgRqg6IXk45Bt1j2D
                                uP9uNiy4nWjtGuJyib5cHi0FOlH4QUiiVKoU+ZO7XLCnBDKQbBAhQf92zPjcZynvfgi5ROJ5Ajwf
                                pCavPAglCZJQKaSQFESJnlSNcTgcDofD4XBswTjlpU34nodWinKpxNQpUzjssMM48MAD8TyBUpDo
                                HgIFCD9NPi9DtPXbyJ+8O9MPORn+37dZ+cKLFMol8l4AnkQpBUAYhmg1ySuOKQFDA0zZ/wD8j/4N
                                bL8POQ2JF1NUEEpBjKAHQUkrfA0ykaggQU5uvc3hcDgcDofD0SaaV160SjueC4EWaRK1kAotNUJo
                                vDho6UCEGD0uSk9w0rpW6TGa46w9HklMFMX09uZ5//uPZ7fddssS933PT8O+PIA8IUBvWk0LPNhu
                                e/jij8j/6WKCO2+i5AuCRCCFIJY+IgoQUnX2BEWSVktDo5BpwQAh0JWiAb720DpBSAgEaTlorYmE
                                JpYg8dBRmcCXaCBJdLYNIQQlr5e+kz+M9573I6a/BRGng+p5Hn2VmLgAQApyeCCAynZzTLz2opRC
                                SpmG89W5Bxrdv5MJrXV2ns2cl/msUir7jj1OZuw6SaLTfUtEFr5pqv0FQWtz0+aAhqxblLk2Y73O
                                HUXpdK4MguxAy+UyYRiSJAme19k5QMWpdzuOY3zfz8bF/N4tlEolcrlc9fOFHrdeYPazbJ659F/n
                                qb1fs3mnDedvn1c2tkqn/deAdp2gfV95ph3COFA7B480lrXrW+3fYPS1rt5nRlozzc+dXhu6AQ1o
                                NAJBUjPHtG0f1r1ly15AtjZDem3sOXU81udOMAblJZUmpZKEqrKQJCB1KlRHMm7pQBpNf5oJVl7M
                                FK3N8VZTjiN6cnmOO+443vrWt2Y3iO/7RKUyQS4cdfvlnMe0j3+adeUy6p6FFPpDRCliupdjg1cg
                                VB1WXmIJUhIYpUXpSn8ZiRAesY7Ah0QKEkAqjdQSX0sCJRFxkTjIEyMQKiLMaYaUoiT72GrGTmz9
                                qU+hZ+1CqW8mGsjJGCljEgRogSfCFk+gs4w0yUy40NckIyn/9uJk+gmZRVVrnU1ytcqIUir7nHnf
                                ngCNMqO17rjgCSCFRKM3mpSDIOg6AXQiEAzfA0ahM9duPJSDZvCDAKUVKlH4vj9uiguk966Zr81i
                                rlR6HIlWeGJiF3fjhc/lcqhKKHEQBOMqeGitMwOO1hpPpoaqKI4I/c4aCMwzbO5XMz95noewNfMG
                                4zcS5rzMvAYQqyTt29aG8bXnUSCbj8bz/q5VWGqNS/XGqJ4CY+Z1ezu1c71t0DLbNgK1/bPWeouY
                                n43ioitzij1e7XiGzbUzc5h5r9YAY94z+4XJqzw2fcdEIu2KniBQ1s0cVR4Av0XThFajKydyooXE
                                ysMP9QVWIQR77rkne++990Z/a8byK6OEUrgd0973QYrPvEThzdfw+3pZUxzC8wSJ19kbTPugVILQ
                                MQKdLgZ+el6ekARRL4lWkCQIofDQeJ4gShISFeH19JAUI0IkPqCGBPmZOzHlmOPJve/9lHJTQXgI
                                BUGikIEm/SeROmybZatTjHTNobIAtSrcNLq/W/Q8CpEWfzD70ZYlBqXRkuFFu2K5MWW+093rKkuZ
                                EfaEENniZFvx7El0XBYnrZFCoCsTcbZoxgm+56dW1G6mw9cfOSx4hGFqKCiXywRB0BWKS6IVnvRA
                                p4LdRh6zVq9fo/GtGGxgWMnrJouklJIoijKhz/T/yiy4jSbQVu8fITIlIY7j7NrEUUQ4Dp5NI/CZ
                                sRBCUCqVhg0rDU5PNpifjRLheV7Vz6mc0/rxe5630TxYZXnv8PxkzkmYcVDDiowUEnTaaLt2fVBK
                                ISwPkXmvds4QUqK1QjEsI2lSm7emWkC2FSUhxGavuACZZzCxFLd0TSYb/1YQOr0GQqQN0s11jUpl
                                grDaMDySJ2yy0fRd4yuFrxRSK4TR8oQmEaCFQqsWF8AuF17Ta1w5SE3VxddaM6Wvj4MOOggYdu17
                                npcuwk1YpbxQkZQF7LYnudlHwLVXoIOYXDCVMCoTNZqdG9AwLI+4EpwlkFqCSK+xVhpFgtBFlALl
                                GUFYkCiNED7S9ymXi+TDAF2WDPZvRX72kfS/91j0tjsTxT45rdMHNKEyQQpiPEQSIDVdX01spPAa
                                pRTr16/n0v/6TWvj32ASafX75l7MFiwp6e/vZ/r06ZkwO23aNHp7e8nn80ybNo3p06fT19dHmMtl
                                i79WKp0cpawImxpUdfiBadIK42dZNNfCKFWe51EqFPnFL36RWbk6Ob6t0khIbrT/Rn+XUhLHMWE+
                                x4c+9CF23HHHKi/DRHsQjaAopWT5q69x+eWXE8dxlWV3NBodf6Pvn3HGGez+tj2ysTL/d4sCYz9T
                                Qgiee+45rr76anJBmBkROontxdRac8ih72L27Nnk8/lx9R4YXnrpJa655hp0MhzO2+q2ba/Cu9/9
                                bg459F1tuwcG1m/gj3/8I+vWrcvuZ9u402j77ZifbMMSQE9PD9OmTWPKlClZGNvUqVPJ5XL09PQw
                                depUenp6mDJlCmEYks/nU4OWJWyrSoiuEjrzfhtFWqOrlEbb2NUNz9R4YtbdgYEBLrvsMtavXUcY
                                htm1b8f9awyItqFRa80JJ5zAAe88sCr03f7OZKVp5SXxFLGvSbz0pbUmTeTQCKkJ4tYGYaKFhzEf
                                L8M3iVKKWbN2YebMmSRJkrn2pZQEQZAKew08J4kCGcYUCREHH0r5nhspr1vFVvSyVsb4LVr2G4Xd
                                RbHE8wJ8BEonkKTXVwgBUiBlTKzKJFrjSS+1JCQJQngILUhkL8Vtt6f/iGPoO+wo9LRt0UnFOudr
                                PEoIPJSWJEICEqFl6lHrcsW1ltrFbGBggJ/97GejfmeihUNz3CbUyzRVrfWaCCHI5/P09fWRz+eZ
                                OnUqW221Fbvttht77rkn++67L7NmzcoWObNd4ckqBc8OQRsP7JhsAHRqRLj00ksZHByc6KGfcIzA
                                1Nvby+GHHsasWbOya9/u2OtNwcyjUkrmzp3Lj3/84+GQBynRLR5fo/WjUCjwT//yz1WCeDuEinZh
                                W7uVUjzz1NP85y9/lZ3beAiDdjz9tlddxeWXX85OO+00Ls94bU7Ki8+/wH/+8leUSqW2KN+B51GK
                                okyp6O/v55BD35Wdd6sMDQ3x+9//nldeeYVcLpfl5RmBfryfv9ooEtsra8KZenp6CIKAvr4+giBg
                                2rRpbLXVVsycOZMddtiBHXbYgZ122ontt9+e3v4++vv7021WcljjyPLQWV4no0AZJaYb5p9OI0Ra
                                QfbuBQu55OL/U3X9gyDI1stWqA3rhHT9feWVV/jJz366kfesG4xWrTAGf52GyqBorRFK4ykIdSrI
                                l4PWBr9Vy2in0Xr4/Gq9LlpqZs2atdHfhl21jY/djwPwiwRCEL11X3Kz3kK8YRm6sAExJcaLOrtA
                                9IQeqAih0+ssZKq0xGiSBDQlQinpVT6UPYoRxPl+8tttT89btqX3kKNgr31g6tYUlUoLG3sl4kSQ
                                0yGR7xHi4VWUOIlAoEAWKZMQ0jcBV7V5ahMQbQ9GkiQNHUet3r2tPh9KKVKVMQ3BFDV5LJrhBaxQ
                                KFAqlUiSJLO43n333ZmSs80227Dvvvsye/Zsjj76aPZ9+9uHnZKVbdqC1njkvdgTt/EIeZ5HuVwG
                                Gjv2Jnr+aVVIbnh8WhP6PnEc09PTk+2zK5L1K8fveR5DQ0PMnz8/NQIFATILi2pt/BqFHc+dO5cv
                                fPE8tt56642OqxtyXuwYdTPvAIhK7kmnjX+meELgeShg+fLlXHzxxfzkpz9NQ5463IjMnK8RgvP5
                                /LBi28T90Ui5i6IITwhyuRxRZd023sp2hDX19PRUFYMwc61SKi3A0EB4bXV+qk24l5X52MzxuTBM
                                PfNJkr4XxyQVZW7tmjXEamMPlxGA8/k8e+21FzvvvDN77LEHBx98MPvuuy/Tpk8HnYYW+mFQZaCw
                                FZlumH86TiUs8PLLL89aaaAUgedBZW0ejUZjlCQJuYonRyuFgEwpWnjXXfzlL39h11133WjOn8zj
                                33zYWNmjJ5L4ykdqDyUkOs2OQKCQUWsD0O2eF11n8bKPeNq0aZnrtdZKhtLIBvV+kxC8CKIEonyI
                                l9+aUsGnmAuQJU3SYlXrxmEnpTRvQEs84aM0xEqnXpLAwy97lLVPoWcKwcwdyO+2N95ee8MeuxFN
                                36rSUFKiNXheQkIBXykC+kCAUD5CCVDgyYQYja81+DKtBTEJqE1StH9vV8LdSLQ6wdiLpgn9MNs1
                                +TBVCkeSpIKKEMTlcrqYk97za9es4e4FC7jrjjv41YwZ7Ljjjnz0k5/gmGOOYYcddqiq9mUsS52m
                                KnZcAFYierFYzBbrTo1vq7QaNtbM9rXW5EyomJDZBDae1apGwgg1DzzwAI8//niW0yGlRCIazhGt
                                rh8rV67kxhtv5GMf+1hV6EW3WCeNccHzvIodUWeC+3iEf/T29mZhp77vIzyPuXPn8p73vIcPfvCD
                                Dde3Vkm0QiKy80/Dl9IcjWaejUaf8aWX5mdYRql6Fbg2FV1RxkPfp1wuI4XA9zw8IVCV8MjRaHX/
                                9v1hlAizXZOPY/5mCiPY95asnIP9HZMHXCoUePThh3l88eLsHt1uu+048MADOe644zj88MPZertt
                                N8opMvvrhuer0yRJwnPPPcejjz7K1P5+hoaG8DwP3/cpFAotG/fMuGqts0IeURTheR4DAwNce+21
                                XHDBBVXel8k+9s0n7IeSdSpkdX/AmjBHyZNZcpcARIs5LxNt+Wx4fAw/uLWCnxCC6dOnZwJibUnC
                                Zm5MTw2ihSTIQUkXKE7fmtLMnXktCEmSCILOjq+ulD/2SJP6okQjg5Bp227LNjO35fW9ZtM7cwb9
                                226F19sHeGhM+Jcgr0to6ZEg8bSHVP0VM7+inAwRyV4CrRBeTNmDBInUab6LPwlyXmA4dMNcXzsM
                                q1XhoZHw2qpyU1vWubYsqLEC1ibdm+Rgs+DYlcaklKxbt44NGzbwjW98g2222YYzzzyTj370o+y0
                                006Z12a8JkkjAMdRhF+Jz7eLDnQzrea0NON5i+OYvr4+oijKtpnNZ12wiGmtufbaa6us4HE5wvM9
                                YtWaZboRvu9zzTXXcOaZZ9LT01MV/thI8R0vsspEQlZ59scj5yWKoiy52ghFEvjmN7/JPvvsw777
                                vb2j+5dCoswcFCdV3gtozvMwGqboQZzEVeGUtcL2pmKONanj1WkmZKgdnpd6n6stxGJ+Nh4Zc6y1
                                USS1ypAZJ1MhcPny5axYsYIbb7yRbbbZhgMOPohTTz2VY445hv7+/myu7qa8sk7i+T5XXXUVA+vX
                                Z0qLECIrmtKIZtYHM5+XK8ZGc88KIZg3bx7nnntu1kjdNspMViWmec8LEAvFj2btyIq4gNASQZL2
                                BKl4YDZrTAJ7zU1kFrm/9WJmpO8QqoREK4a8gF7PA1UA0TPq5rXoRfhpTHGf38Nt0/bg2R0S/FyY
                                LRajIRtcANXg3jTf38i9LCVyrWTK8y+w9Zqtmb58NdOnT2fH7WcxffrUtAQrgMyhkgRfirTihRxO
                                5A5FD4HJkRIhpvaF0gotRGpBmwTUXgP795Ytcx1W3mu3X1tvv3b7tWFydh6A/f1sgkwUb656g1//
                                4pf86Y+XcfbZZ3P2Zz7N1KlTgWHLqV3q1FYC27F4SSlTL0KYTmu+7zflkm+V8Zr8m+mvUO9z5pn2
                                fZ+ySQ42oaEwbiFR9XqnZAuphr+8/DL33XNvqnBWhBqFbqi4NBqbpo4NePThR3jy8SeyXAcgrdJG
                                E9W8OozZe3rtTL+15rwOsPE92kzPjqr9W94ocy+VSiWKQ0P84Hvf49e//y2BN1wAwlas2mE8EAzP
                                NbIS8qqt8JdWrr/WlYxQ42mobM8km7fj+BWAlCRZDxlVlW/YzPg3Oofaz4s698do94ud5G2H/tbL
                                pbA/b47NXO/av69atYpb5t/IrTffwg477MCnPvUpTjzxRLbffvthZajyjNllt9vp+RoP7Hs+C+sU
                                giSKWbtmDfPnzasqF23yq2xFsDbh3n6/EfZ1sMcf4MXnX2DBnXdx/PHHo/Rw1b4oSfsQTkY2b3W3
                                A9SzXCilWFEqEpbBKySUpMDTiilxQlwqgcw1vV3f94ljxeDgYFWvmPE4r5HOLUkSXn/9dZ555hnu
                                v/9+brrpJv7nf/6H//f//puFC+9h5crXq8pWGisdspIYXpMoViqVNqr77uhubMGl3ntmIVZKMTAw
                                wCWXXMJHP/pRbrvttqzctglNgOHSr1uC1a0dNGNZHSl/ZaJDbs0x2P2AahvUiUqi/po1a6oW9/EK
                                2zLz1pVXXpmFZcVxjBRywhWXbsAOobOtu3Ec88ADD1RVWzQWe9si381MBsF4U2jnc19vbhltzql3
                                LDpJWLJkCd/+9rc544wz+I//+A+WLVuGFBUDuFKEfuoxtytEdsP81fD8oEpZN8evlMLzfW699VbW
                                rVu3Ua+dsSiXLR2f1lx99dUIKdOm6cbz5/mZMjPZcFJDk9RaNqseWq157s0NIMDr9SjHJfAksSiT
                                q5QPboYkSSiXywwNDbFhw4YqgXC8z89glBdRqfNvLOblcpmVK1fywIMPcsUVV/CnKy7n4UcfoVgs
                                ZjGXQgj8MCBRSVWFi1wul1lgx6tSzmTHVhTqvcZj/6P9zQgoYRhSKpUIw5DFjzzKeeedx7/9278x
                                NDSUhZCZSd73/UlfrnGiqV0M6/2tGxZ/O0ShXuJvsVBg/vz5mZfZDlEZj+P3KpbmBQsW8OqyZVmI
                                VOpZnvjxm2jMNbNLu5rqVIVCgZ///Oc89dRTVc0H7V4sE023PAeTlZHGr1nlxYSfico23njjDf7j
                                P/6Dj3zkI/yfiy/O5B17XciK4UwC+UBpVbcXGqTlpK+77rrMIG3GbTyrGQaexx133MEzTz9NUlEO
                                Ta5rox5I3crkPOoJYsQbTQjmr17N6hgiyvT4HuCx3hMokTRtt/M8jzAMefnllxkYGMjeGy/LkC3s
                                1LrjJcNhPuVyOSsJHQQBxVKJtW+u55abb+O/fvNbbr/jLtauXY/WkCTDxQqMoGqUoVqXqWPyYu7T
                                KIoIK57CXC5HVCpz6X/9hgu/9GXWvLE6Syo0As14xOtvztRWPux2ansMGIPGHXfcwTPPPJNZBO3P
                                j8f9US6XkaSJ+zfccEPVserEzVHGOGGeXZOrkSQJ+XyeDevW851/+zblcrnKomzKAncDbp7ZdEYy
                                hDQ775hnPQiCqpL8r7zyCr/4xS/48JkfYt71c/FkmtMEZAWQJsO8JoXMZBo7jxTgoYce4vHHH88U
                                mtFCtDuFKawwd+7cqgbUcRxPWr+yU17GyEixpTcVBvjzmtfxEoXUGlXW9JKnoBSEjRe/UqmUbf+x
                                xx7bKA5yIs6vti64iXU2zaqiKMoscaaUJsAjjzzCf//P/3DHnXexfsOGLBfYaPtmQposVhVH/VLR
                                9t+yZOLKpKiTJBNCPc/jxhtv5G//9m8ZWL8hjW02oYU4oaIZRlvAa/MR7Pe7pRSyOYfaUAkzt8yZ
                                Myez5JvP1vt8pwjDMJuX5s2bR6lQzObgbvAcTDTGUmwEHruqkQmVueeee/jNr/8ry8mpNVRM9PGP
                                xGQQjic7xriVJAmi4rUzXjkpJS+/+CJfOv98zvvCF1i6dCnotAJcszlBE41muHiE+d94ma+55hqG
                                hoaqwv/He37TWhOGITfffDNr1qwBpbOcm8l6/zvJcROoZ20oipCfLHmapUMJMsohPY98Ar0yh6ax
                                8pLL5YjjmPvvv58VK1ZkrlOzAHSaWkGntktr6PkIpYlLZaIoIkGjpQBPInwPPImWglKcVjKKooiH
                                HnqI6667jkUPP1rVRTiKoqrqJc770v3UE4Tt96IoyqqmmBK3PbkcnhAkUURPLsfiRx7hc5/7HKvf
                                eCOrYGbucUdjNmUe6CblxRxPbajbCy+8wMKFC7O8ExjuDzRexo3sHvY8Fi9ezAMPPIDnedlctaVj
                                V8WyDU/ZHF7pufKrX/2KxxYvnjSJ1pNVcBtvRjKENDu/2IZKrTVepYplLpejWCxmSsptt9zCJz72
                                Ma679loYIS+kGxEMh4HZVb5WrlzJLbfcUlWlrdbQNB7nZ47tpRde4M4778xaCXTb+jCmc5roA5gs
                                jBRTbgiRzF/9Ohc//wwrNJR9SDwQxYTGLbRSnnvuOR588EFg+CZvRw+RdhBXatF7nofU1eNhjjV7
                                GHwP4aehBatWreKuu+5izpw5vPbaa5lr1Wj8JszAMTr24lHv1WlqQwprrf1hpcmZaUBmwgTshHwp
                                JYsfeYSLLroIlLUtb+Lv726n0XUe6V7oxnAyW7BNrHjwMAyz+8eOCR+P47e9BCZxP4niqpKjWzIm
                                iRrIDGtxHGfvh2GIEIIN69bx7W9/mw3r1mfzQHfdfdVMZuFtPBmtGEizz6cJmTJKr4pjoigin88T
                                eD4oneXSfvWrX+U73/52Jnd0OyYvzjbESimZN28eq1evrqqyOVplyI4fp9bMnTuXUrFI4AdduT40
                                i5MaxkjtQ2wufjkpMsWbwS+Xv8R3H1/AmsJaChQh8Ejixjfoo48+ys0331xlwRbjaHmwq3vUO2e7
                                rK05LhMyYFehMe+b0AITivHyyy8zd+5cFltWuTiOCcNw0j48WxKNEvZNvXoTB2/X7zdWbZPkO3/+
                                fH72s59VKuvF7vq3yEgW7m5K2Lex59BCJVHfDk21ww3bVWq3mWMKw5ChoSH6+/u59dZbeemll8Y1
                                qbabMTmOMGzIMoqmCRs29+Gf//xnfve733VVWLC7hq0xWr5LM2PrSy9bA+weMl5FqDdKcOD5mSHh
                                V7/6Fed+7pw0zKnLEYgqT7E5p6uvvjqTgUYKoRzPZyQIAh544AGeffZZVGWcJ4NyWI8xj9pGYUXN
                                CtdCjf5q9fudfmlZ9RJ4VS8QDOUTkqCXX6xcw1kPPsYtS9YyECcEnkKrEkWgxHqgkHawR7FyxWpu
                                mH8rt99xF0oLpDfc1E9rjYdAKI3UjPpqeKEbfL+ZOvJVifwqPTZfSEjU8HYqx+pRXYNfBCEbCkVu
                                vPU2brv9ThJFFjMtrTK6dohGvfe2VOwqXXY4YVLpd2A+Yzdtq63WNFJyt6kkh9LZ/+Zz9fJSRsqt
                                sN3QtfG8pi8FlWP/9a9/zYvPv4An5Lj1GWmG2jGqjU22vUp2RZlWlYRG1eQaVZqrDUeodyxaawKz
                                eFauF6Q9eDqNJm2Ea45DCEFcjrjjtttZ8vJf8ISotLwl6/tkQk3HI6zU7k4dlUpEUcQtt9wCGuLy
                                sNBlxtpgFxfoZjY13MdgGxpsj5gtlNnP+q9//WseeeSR9Mt6uPGhofbebUTV/dxCD4yRGK+S3Jua
                                rN1wbqn0p6EyJ5nrZML9avtz1TPC2sdTG/FhXyvbqNCs4J3oYaPnRr3ChED6XuqBl6JSWl8QeB73
                                LFzIWR//BEuXvJKWME+q++3FKukKz55OE72qysHfe/c9PP3kU1Xjaa+RtsGmlrFGVjRaf7ROkxdK
                                lTzlyy67DOl56Xo/SekeqWGSI72QWAN+njjXx81Dqznr6YV88s938p+PPcefl21g8aoCK5a8yfKn
                                l/DQ/Q8z5+qruebqK3nisccm+vA7TrlczoS9Rx55hOuuu264PKJKMqHQrpFuJl4XtjHcFwXIEu1E
                                ZVzs/ACTFGg8ILYCUhuKaL9vUKTNRIMgyJJz26U8epX+EL7vs27dOn7xi18gpCSJukcAHG0BUEoN
                                dxevXA8zNq2GnzQKC2z1ZVeDq204Oh6lMk2jxyyHT6cC8RVXXNHxfTdDGIbZ/GPGac6cOby5Zg1B
                                JSTKjmU3gvxkTnhtJ/bcEscxQ0NDXHLJJQwODlbF9pfL5exnY/DoFu/MZMYIr2Y+8n2fcrlMoVDI
                                POL2PGB7O2zl01bQzbUxa4Ft2DHbtBvOtoLxxthKlOd5FItFnn/+ec4991xeWbKkar1QSuFJj6SJ
                                Jrbjcg0YViAEgmuuuaZrPN9GIfQ8j1KpxIIFC1i2dCmi0vR2MuJmjTYhIG1jn8ToBDzRywZ6uHZw
                                gC+seI4jn7yNExfN56Jb5/Kb6+dw871388ILL7BmYD30BRN9+B0nDMNMgQmCgJdffpmrr7mO1atX
                                Z3HmMNxx20ykRpnZ0jGC0owZM9IO0J5HLpcjn88ThiF+GCJ9P7W8+T5hPk+upwfp+0RJgmK4y7MW
                                gihJiJVKu3QLkSktJn59YGCgqixqqxjPRWB5j2688UZeeP55vHFowtoqdmUWI3gFQTDcj6DiBRvp
                                FSs16stcn5Fejbbf6GVCNoSpFsWwN0mPw/MlKk3oMi9dHPPkk0+ycOHCzNMykRhBzFZKTFNeE15h
                                PmOXRDX3xpaOEWhh2Etz/733cemllw43xLNyHas6kDvPelswY5toTbFcxgsCglwum+cTrbN5X3ge
                                fhim84FSFMvlYS9+xYsTK0WiNYVSiSRJiKIoMzIaI0hPT0+mkLZCrRfbPGcml/KpJ57gvPPO4+WX
                                XqpSwNAaT3aHcdP0wdNa8+ILL7BgwYL03MZj33WK6dhkxoXKnLVs2TLuvvtuKgM+0UO3SXS/1DBJ
                                EOUSfVqiAij6EqmgpywpeT5Rr4BSDxukZjt/KtN8zQYS8rkcSnuUopjNXY9UimziG4xK5IOQ1atX
                                c/3cG/jgmaczbcrUjZK7axO+t2QUcNppp3HuuedWWc6QqRdFsvHEFUURa9euZf369UDaGGzVqlWs
                                WLGCZ599tqqfkDRhihVF0pSOLRQKWfnaVjDHHAQBQ8VipiBdf/31fPnLX54USfv1XP9aa7bffnv2
                                3HvvlsPGGu27VZIkob+/n2nTpmXPVRzHmdDZ0bEjNfDZz/c111yTlU2d6LhrO6dDV5RN3/e59tpr
                                Oemkk6BitbQFbeNlaIdyvzmQecwrVvwwDPnFz37Oge84gKPffUzWt8PG5RS1B0kawrjDDjvw0Y9+
                                NLsnzTNuxt3usxTHMRs2bMjWgGKxyLp161i/fj2vvvoqK1asGO5ZQmowS7QmiWPy+TzlcrnKk9sK
                                tnfOPGe2l9vzPB5fvJgvfelLXHrppWyz7UyCIOie509pREVmEUIwb9481q1bh4Rxl2FGyn800RZG
                                yb3qqqs4/fTT6entnejR2yS64KpvHoRhjkJSRqkYtCDyPKKcwE9g6lDA+pxPUtpAGCcEIq3AEmuF
                                R0jo++hKieHNFbtzbk9PJQ5Xw/r167n6qms584OnM23atCysxHVfryZJEqZNm8bb9twztWB71fHI
                                JnbV5L1IKVOXcPomWBOaqiwMK1as4M477+TWW29l0aJFDA0NpWMeRfT19TEwMNAWxQWGrdNJktCT
                                yxFVFJk///nPlXCd7lZeTBlfz/MyYd8oYwcffDA/+ulPa78wth00Et7bIeAJQRRHVWEk4yUAmMUz
                                LUfs8/rrr3PTTTeRy+W6ouKgiT83oWOmmMidd97JU089xV777J1VHjNeGDNHOVLDlCk2kyQJfiWJ
                                v1wuc8kll7D/Ae9g+vTpG4WxmvF2tI4EttlmG8455xyCMEw9qpUcEtTwGmA8oNmcUwnnCyvKe7lU
                                YmBggNdff51nnnmGBx54gAceeIBly5al84alxJu81XZgDFzmOasNJfM8jyeeeIKvf/3r/PKXv0RW
                                Kpp2Q9K5PQ8MrN/ArbfeWvX+eCnoI42D8YZKKRE6VbQeffRRFi9ezKGHHor0J98z6GbeNjFUBpXr
                                Q/ZNxdM5vLIEERD7IYMo/DhBKoVfLkJUpA8fKX3KcURRte527XbssLE4Tie7SCXEWrF2w3ruvPNO
                                BgcHq2JrjRDuFBirUZ5I81LsUsSppThBCxCexAt8kCKNwUWjBSitKkmFIH2PIBeyy1t35axPn83v
                                /u/v+dGPfsTBBx+cWrmCgHK5TE9PTyqotSEnxfZaKKUQlQXz6aefZsWKFRM9vA2xFydzDpA2l83n
                                86lrwX5JMaaXbvBvrNvbaPsC4iT1shjrpslnGg/LpbA8ewjBHXfcwWvLllX1f5pIzLgY62Qul0u7
                                UpdKWcUg87zZIRqTpQ/FeGAUu0yAUoppU6bwyKJF/OxnPwOqm1faZbEdrWFCrMrlcnqfJgl2kepY
                                JdncJDyJFmRzi0IT5nMorYjiiDCfY6tttmavffbmjDM/yL9959tcd/0c/vO/fs2HPvQhpk2bRrGy
                                lo9WpXQsmPvB3qbxuvi+n8kFnhDcddddfO9736s694nGzBVSShYsWMDTTz+NrhgJx1N+adQ7Jqvk
                                WPEaX3vttchJajyY+FVjM0GGPrJYRqwrkSSaxPMQiYZymhSnKuEZxV6f1b6moNNXiKRnC1j7TC6F
                                iZuFVKEpFAoopXj++edZtGhRZnkxQo2xEG/xSJEtRmZSN94VUSME2L1Y7Oon9jjaAqMQguPffwI/
                                /fnPOP300wGy+H9RSaxu22lUFqcwDMkFAevXr2fZsmUTPbpNYSvWQJbz0o6Y70738bGr/BirqbmP
                                xkv4TpIEKSSFoSHmzZs3rn1cGmGX/40r/SeiKCKXy3H77bezevXqqrGyK+q5+Wl4/EzOkNaaXC5H
                                oVAgl8vxhz/8gTvuuKPud13OS3uwix9I3xvOaWN4DrcrUkL1vGA8sQa7ktyUKVM46qij+MH/uZjr
                                rruOCy+8kJ133rlqPW/12I0Xzm7LYOeh2Q2Nf/Ob3zB/3g1dU+3PhGOpOO1bVS6X01zUiuI1ntjz
                                qbmGds6ZeU4lcOedd/LqJFl/a3HKS5tQuoDyYpK8ApHgqZgAjQw0Og/K91EKtBb0yJD+JMRTaVf6
                                guyOB7Cj42NZU1LFJHVj9lbiLX3f58EHH8zKaxpLZ63AuKVSr8yoZrg5lv1+7c8jWYftnKI4jtl+
                                ++353ve+x1FHHZXlvJhwmlYRerhHkBH4kyQh8DxeeeWViR7eprGr4EVRlC1a3U6iVRaTbVfNGs9n
                                y/M8onKZJ598knvvvTd7rxs8L7ZiZ8LBTEjbkiVLuOuuu7LcAbt/kfnOlo4ZFyP8SikplUrZs1Es
                                FvnRj37Em2++WVVWuVwuu7CxNmDmVBMGat4TUhInw/JFbaVJe72w7+fae1wxnIuy8y67cOGFF/KH
                                P/yBv/mbv2nL85vL5bIKmXZJZbuCpsE8o9/85jdZvnx5Vzx/xuj67LPPct9992XV3tq1fraKV2lH
                                UdsodNXKlcydO3eiD2+TGNNdJ6wYyex3c9O32sel09T0adno1fDkRz8/gZ++tI8QAUr4RAi0EohY
                                ICgTSYGfJIjEo+gPIIXGEwmByk306HQcD43UCqESPDQkMR4CHScIpdFIhPR54MGH+MuSpVUx6A4I
                                RJqUn/UcEZXopEofIGBUi309IdWu8GIWCC/w+ad/+ifyvb2U4zjtzSEb9wBqhPBklUUNKbNKN93o
                                eak3jnY4o1HsJktYoyfSkg71+lmMlwKj4oQgDPnTn/6UlmKtVD9qB6ZSUjmOkVbZdbuy1WjYir5S
                                Kq2AphS+lEjgiiuuqCo2YASmWCWTothEI2qFVTMmdhhPvR4htb2QjIHCHn+tNT6CJxc/xq9+8UtQ
                                w71iwjDsCuGzXgPGTlRhqrufJmj0jKo4yfIavGC4Ep4AAumPuM16fbzqGRTsSlqI1Biy/U478r//
                                5Z+59P/+nrfuvjtxZV6PK/OhUgqJyIrJ1OszZitMZk6td0+ZOVZKiS8lSRSxds0avv/t76RyRE24
                                lN3DSrWhFrDdPNecm9mP/ZzcctutbNiwITvW0Xpz1ZuHjfesVqk0FeLKcZyNr91zabT7xsgLWTW6
                                ivJncjZvvOEGhoqFje7Hbu+zN/ln3UlON4RMdAPmASkUCtx///0MDhWB4aoojs7fK2Yy3HHHHTn2
                                2GM3qlDTCnZFqdqEXfcMbP7oROH5Pkv+8hcWLlxY1WG7HRghp6enh8HBwSxEtV3K5SOPPMKjjz66
                                UZK5lBLB5PcMG6u63ScEyLxN9RQWGJv3TgjBb3/7W+69996qa+I8L92PXaXM/G+er0MPPZQ//vGP
                                nHHGGZn3x3jUTH5mqwRBkBWEiOOYvr4+lFLcfPPN3Dh/PjCsUJh71oTztuP5tKt0GY87UPVsrFu3
                                jquuuiqrqmoUi5Hu79p1z/Zc2r3bDLUFY8xz2KznK8t3sdoVlEolnn76aR68/4Gq3kuToc+eU14c
                                XYGJx5RSsnTpUh577DE8y4Lq6Dxm8s/39PC+972vrfkIdpf6WuuuU142f4xQfNddd/Hqq6+mC7Bl
                                oW0HWmuGhobI5/NZnHy7+kQVBoeYc+11VcJ6GjcuUF1qmRwLplS0CdspFApVlvB6npaRLMgjYRof
                                futb32Ldm2szQalbLbuOYWwjgDFEGYVCSsnWM7fh+9//Pp///OezPJjMc+2NXHGr2bnfKEOmtHup
                                VMoMFj/72c8YWL8hrahmEYYhnpBteT5tT0gQBFX3rsnNufPOO3n5xZeqvEljWd/MZ22Zx/xuNxu2
                                w+ua3X5tqKBRZEyRh6uuuqpKuTF087PplBdHVxBrlQkcQRCwaNEiVr2xKg1bcjkv40IWIqIUb3vb
                                27KKS+1gpBjryRJ25WgNPwgoFgpcddVVWbhivRC2VkjLsPdk3hFbuGr5+H2fefPm8dqyV7OGuma7
                                m4NxRUrJ0NAQYRhu1IRzJEWl9pkejcwCXSnOcskllwx73zaD8dsSqFf0w1jntU4rlv3DP/4jn/vc
                                59JGlxVldaMQtE3ItTM5GnZYosmHefLJJ5k7dy7S87ICM+b4RvN8jPXcbY+LeS+riOb5zLn2Onp7
                                e1Plzeqp0mzkSG1vu9rCOyYKxa7UZ86xEbUNv413yDRfvmfh3Sx7ZWn2d9uz1K045cXRFUiZFi9Q
                                Iv25WCyyaNEipHC36HhgKxNJkrD11lszc+bMtiVT2/HwxmJkT9COzRutFA899BCPP/54uoha8dTt
                                qlb04Q9/mJ133nmje7ld9/Dq1au56667CIMwu5c3l5BWO5HbhKzYBTZsAalW+GxWeTHbVErx3//9
                                3yy48y4XNjpJsBVY+z4xAnwWboTmH//X/+Jzn/tcZkAolUot79/uAWP2a8oT+77PpZdeyvp161LD
                                gqZtHlcbc952QQNI557Fjz7Kfffdx9DQEF7l2Oyqjs2Mr62kmO8ahebEE09kr732ypQxcxxj2b45
                                VvMd23Ozdu1abrzxRqSQ6KS6t063Pp9OMnR0BVl3Zt9nsFjA932eeeYZXnr5pYk+tC0CuyKZ53nk
                                cjn6+vraVpHKTsC0LbZKKfr7+yf69B0dRgjB1VdfDUBQESzssrqt0tvbywUXXMCBBx6Y3V/t8rrA
                                sHBx1VVXgdZIITPBbXMgSZLMaiyl5G1ve1tW/rg2Gbr2GW4G08Syr68vCxf813/9VwbWb+ha4cgx
                                jBHWbaHavG+HGwmRhlGed955HP3ud2eW/dGucTPXv1ahNt/J5/MopXjhhRe4/fbbs+acKk4yZaMd
                                BoZ65aWNx8nzPOZcey1xuUw+DKsqdTbbgNc2Gtg9sYzx5YILLuD444/PxqveWIxGbf6Nec5NE2pP
                                COZcey0DGzYg6hQM6Eac8uLoKmxLjlKKxx9/vKocsKOzmMlqaGiIwcHBtgoWttfF/n/HHXec6NN2
                                dJiXX36ZBQsWICoWSRM2Zpd2bYUjjjiCHXbckZNPPnmjXI12LL7Gkrt48eKszLNOVJUFdDJjnnkT
                                nvPhD3+Yww47rG5jzk1K2FepYWpoaIggCAjDMAsfc9717sc2bNnestpSxlprpO/RP2UKf//3f8+U
                                KVM26ilW7+dGmBwaI7Sb8MZCoZDdg5dffjlRuYyolI3WyXCIVKvYylrt+axataqqh9HQ0FDmdTLh
                                WWMZY7tZrlKKgw46iL323ptjjjmGadOmZfOnGZNmtm/n0hhFxu6jA/Dcc89xV+U8TGVT05KhG3Gz
                                hqMrMA9rqVRKk8gqtemXLl3KypUrJ/rwNntshQJgYGCANWvWtDWh3kz6tdal7bfffqJP39Fhrrvu
                                Ot6sNHq0Q5GSJMGXrXsvTj75ZAAOPvhgdtttt8zi2y7Lq6lgZM4FyyK5OXhfjNJiYvt33313vvrV
                                r2bXq9WE/SRJkAwnHJuqVL///e+55eabJ/r0HQ0wuRu1fVhqw/4yBSNJ2GefffjCF7/YlufPJOzb
                                xTLiOCafzwOpUvHggw/y/PPPo5Ui39MDtK9Cp61QmP2ZAgK33357Va8yk3dnqoM1g5mvzJia/BbP
                                83j/+9+PVoqDDj6YXXfdNfvbWPZhPmOuoa3EGEVQSsmcOXPQSoEd2t2l6suYlJfsRrAnKyPwdLiP
                                Sst0aR+abnXJjTdCaaSGQHqoKO0BI/BQCTzx+FPAsOvW3IfZxKm68+Gyacck2sq9Uitw2LXz7URE
                                KSVIwdq1a9mwYUPTLu9mPiOESK+V0gRCIrSmr6+PmTNntmWMO4kd928WLmO5EkJUGoaO/FLoUV+N
                                aLR9ez8aiJI4+zlWnfcMKDSJVlWx3ob169dz+623EgRBZjW0P9PU+VuCchzHKIZ7u7xl1iyOOuZo
                                4iRmytSpHH/88VUx3s2GVoyGBHRlWzfeeCOvv7EqO+5uCnuqZ2yoTbyv/btt0RZCgJRsGBzk0Nmz
                                +auP/jX43kb9J0wokN3LYrTjEJ5Mi69U9ufL9PnvyeX41kUXsWr1G1X3jvl/SynmMVI/kG6qxmi6
                                xdvzvRHoN2qKLNJr/tcf+yi77rE7idYoyF72M1nbD2Wkfdd6AI0iDBD6PjpJmDt3bhr2pBRI0ZZn
                                H8gKB5l7OCsZjeCKP11eFVVge5ZtZa9e/7VsHBEkUUzgDRcbUEBvfz/vO/54hJQkccyHPvShjfav
                                4sbzu1GIbA+S3UfH/Lzg7rt57rnnSFSSKUmyS0vBO8/LBNMtE9NEY1e5sBfSKIp45ZVX2DA4UOWu
                                rapvPgkUwHbljbS6/9oFwzSqqm0Ieu+9927U36FVCoW0EZapBiOlZN9992Xbbbdty/Y7iVlQzP1p
                                uhX39PSkCgyM+jLN2kZ6NaLR9s0LpdPGdJ6PRBBHUVs8G43QlTwQoCosAeC+++7j+eefp1AoZN6Q
                                sVYbqxWcTSJpkiQcddRRbLXVVll4yPHHH09vf3+WQ2f3GNpUgiDIhJHBwcGsalo7tt1uRmpCOqrw
                                ZCUjG+sswJe+9CV22223zMpsnl3zsx1WVm9f5ueREv6LxSJvvPEG//rNb1WFwNhFPdo1JqO9HK1h
                                j6Ox7OuKceoTn/hElZJTr1T+SNei2etj9vnwww8zNDiIaHMVy9peMUmSgNI8/PDDPP74420ZP9N3
                                JQzDTNmYPXs2O++8M0kc4/k+xxxzDFtttdVwvp0UbXlGzHWIooirr74az/PG5DmaCFoPBnQ42kA9
                                C56ZuN58802WLl3Kvnvvs1En58nOWHsltLIf2+Vulyi1LahmUr7xxhuzeNd2lDM2fSSklMRRnHl4
                                9tprL/K9PZ0f6DaMHwwvMmY8C4UCjz/+OF++4EtNfX8kWr3+dpdnGO4CnyQJu+66K1/7+t93dHxM
                                q0ZlCZyqkjh79ZVXZYsykCXqj0VwtJNT7TyTIAg47bTTsntZacU73vEODjroIO5ZuDALxWh0XRod
                                hwl9MZ+fO+d6PvOZz5DL5To6rmNlpPMYLcHeNhZ5nodKEsIwJIljtt12W77+9a9z3jnnZkp7LpfL
                                yuDaRQvqzd+2cGrvzw47KpVKzJs3jxNOOIFTTjklOx7j3Zlow4+jMfX6eBkP9Wmnncal//Ubli9f
                                PuL1HOn+HOt1W7x4McuWLWPPPffM9t+W+weNsAxNUkrQcM0111AoFMhVGkduKpniXlFGCoUCfhhy
                                2mmnIaTE89L97bLLLrzrXe/ilptuGq54qJqrqDhanx3b0DBv3jy++MUv0tvf19UyllNeHF2BvdDZ
                                SYHm5xdeeKFKealaDJXKGmFNNtrl1m5mP8Y6VS+J0B7vP172Pzz11FN4lXE2QkpL+7cs5QqNEOl1
                                e+9739vVFU0MJrHceIxsJWbp0qVVMc8Tha2A2vlFBx54YMf3XWtQ0FrjCcnTzzzN/fffnykRpsqN
                                3YuhGcy9mSkRFaH5bW97GwcccMBG1ttTTz2Vu+++uyokYqTjbub5yyoMlcsoIXjmmWe49957ec97
                                3rNZNNK151rzzJuwkfe973187BOf4D//8z/p7++nVChkPaBGEjZrq5TVE2xNwQatNUrDD773fQ46
                                6CBmzZqVVp0cHKSvr49isdiykthp44Fj+JrWKqpbb701Rx55JJdddlnmkTFXo5FSTc3nRsLMP3Gp
                                xIsvvsiee+6Z3VvNfL8RWmsQqQfGKNfLX32Nm266Kc1xaTGvR+s0fDjw09DaIJdjp5124sgjj0y9
                                LoGP0un4nnHGGdx0003oivd/rJ6XemORGb2A1157jVtuuYUzP/yhMZVjHm8mp8Tn2Oyww3Jg2HJs
                                HqpXX301Czsyn5sMQq9htMVzvM6hyrtCdfUvSCeoPz/wID/4wQ8yJacdios5/8gqLel5HjvvuiuH
                                HXbYpLiGRgg2i4UJlzEu/tZ3oEd/NcDuP2AbAcyxjxdZ3HcUQ8WKt2HDhqpO6nZYWbOhY3a/AaP8
                                KKU46aST6O3trVKyE5Vw5JFHVhWCaPX5q+1xobVmzrXXTapyyfYY1CoeWXy7NUeIyjjHccwXvvAF
                                DjzwQMrlMn4YZh3Oa3vAjLZv86ryzFVeSZKwfPly/uPff5jF8OdyOZIkyZKyN2cme1ibOU4z19jP
                                tlKK4447rsoL0u5zssMM//znP2fvtytCw/Q/Mdv0pMett97K6tWr0W2oNqgY9pybeew973kPU6ZM
                                wQssH4OAww47jF122YUgCNpm/LQjMaSUXHnllSRRdYRGt+GUF0dXYFtO7S6ykE4WhUKBVatWbZQ4
                                PZmYyNAFO3HQVBoxAqURyB99+BG+8Y1vMDAwgKg0AGtXKVjj9TH5NaVSiQ9/+MPke3smRUiHXVXH
                                Xqhrc4U2GSlGfzXAFq4z6+Y4j2tmUCDtLL32zTe54YYbqnJczAJtVyBqphqR7Tk03+np6eH9739/
                                +rsaTij3PI+3vOUtzJ49m1IUgeWFaoWsglllO3feeScvPPf8pLh/axWXkf5u/g+CAF25Tr7vs822
                                M/nK330180BqUd1sdqRcF/O/PZdDdeVBSAWRJIq44oormD9/fqoktaHErWGyKwfdTq0h0fYGSCk5
                                4IAD2HbbbesaHEcKIR3r9TGyw+LFi7PttvEEs3nV8zzQmmuuuablcLHa8VJKoStrywc+8IGqYibG
                                wDB16lSOO+44opoiGo2uz2h/qyqUoRSLFi3iscceo0sLjaXjMdEH4HBAtWXVjpO23aJLlizJ/m4z
                                GRafiV4k7RKlBiPoxnHMdddcy+c+9zmee+65zAILqfUzF4Qt799Yyk1jr1122YXTTjstG5tux4Q9
                                mbh/u1xoO4WsTaU2adrOYwjatMA2Qgir8o0Q3HLLLfzlL3+p8gYZ7PDFZpvUGcw1OOKII9h9993B
                                PFtW6Kn0PE488cSsbGmrz58pemBXPHzzzTe58cYbN0rm7RZGGteRhMIwDLOStMbYYfJOtNYce+yx
                                fPyTn8jyXsx4jFQ2ufa9WgXGvGfmIYBcEHDxxRez5o3Vw+tBG8bCKS+dpbYQjHnPXOutttqKt7/9
                                7Rspyfb3692vzV4f84xLKXn99dez/i/tyNe0jzetrAt33XUXjz32WLYWtGP7RubxfZ93vvOdvOPA
                                AzbynptKbvbcNpb53T5W+2ev0nTXFFQplUrMmTOHcqnUtQqMU14cXYGxmtgPkLFqm4d6+fLlVd8Z
                                qUznZGO8jt94PrLcE6V46KGHOPfcc/nSl77E2rVrq0rZBkFAqVCsUng2FZOwXyqV8H2fv/qrv2KH
                                HXecNN4z4x2orXiXWay0HvVllwmt92o4fg22r4VAAeU4JtEapEQLQawU0Tg0UbRDD7VSJHHM9ddf
                                XxUqUlsO1Xj+mslnyHJOTGnUMOQDH/gAsmIFlUISJ/HwZwRZpZ5GwkWzypPQVAkLnudx/fXXs/bN
                                Nzs+vs2O/1jOyYyrGdtyuUxPj+UJtRURkV6vCy64gAMOOIAoioiiKJtPaoXS2vfM82OHqhrh1szx
                                vu9TLpdZsmQJ3/rWt4bzcHR7hM9uL0U8mTFeAdg4xNb8vMcee2Sfr+1YP9K1aPb62Plaa9euZdmy
                                ZW0LeTbnlzWo1Jqrr766qi9Lq5i8OWPcO+mkk7LCGPb4GmXmwAMPZN999yWywnFbwRie7IqON910
                                E+vXr0d1aRPeppUXjeXu68TD3mqfmIne/ib2kXFWnxQTkmFb8qosycJjYLDA4GAhq/SRLYTe5B7D
                                0SZvg7ZCclScIJLUAqTiJBMyzMQHdcJEVPr58lCB5556msv+8N98+pOf4uxPfJI7brmVwPPQSUIu
                                CJDWMQlPIv3mYl7tmvGekAiddiH3hEy3WRFQ3nHggXzq7LNBDCcqThZqPRxZzwGR9q7whECSTqz1
                                3hvp1QhPiIYvCQSel+1baJ310+g0Wey1TC2DTzzxBA8++CAold1P9piZ59vu1dBo+wbf99l+++2Z
                                PXs2Sqv0/tE6846YBb63v4+TTv4AWlC1v9rQlaYsu6TnZnJAfClBKZa8/DL3LFyY3RtQLcDHKhmX
                                u3tTS8za8069kN1sW6QKzrRp0/iHf/gHwjDMvDJg9Z2oKI926KIdylgbWlSrzGitCYKA+fPnc9ll
                                l6VCnUhr2RnhuFguZQVajFJZz/MzWjJ4vfPfKEG8A2vzSGWsNweMB7q2wpcQAuFJdt1113Qusgpc
                                JEmShSC24gUz8oMnBOVymeXLl+PJje+5drBk6SvccsstG4UM195HI13rep/JlDzfZ9q0aRx//PHZ
                                +2Y/vu+na78mS9yHigGspjCJebZMFEU9A5J9DIp0rc+89nHM6lWruGHuXKRVKMVcMzPmE8nExzts
                                4ZgqFo7RMSFPhUKB3t48QjMp+rs0S6MSp1Ecs2LFCh584IFMSSiXy5mnyu7Xsm7dOtatW0e5XGbD
                                hg2sXr2aN1ev5vXXX+eVV15hzZo1xHFMFEWZsNCq9cZYSY3gUo4iwjBER8NlT4vFIjNnzuRf//Vf
                                6evrGxZyJnrwW7g+5ty3dMwYmByJuXPnpnkLTcZkN8JYHYUQlOOYQw89lLe85S1pMzyrglWt0HTs
                                scfy29/+lsKGgaxvgbHS2s1GGwk4xvKZlROu3NNRFDFnzhw+cNqpG5UGzrpwJ2nzucmM0qkSoZTi
                                qKOP5jOf+Qz/+ctfZh4Tc95JpcyyEaZMKFqjikhm7IIgyCrS/fjHP2b27NnssssuSIYVR1PpDCpJ
                                /VHrHdwdnWe77bYjl8sRRVH2XupZ020RgbKw5CRh7dq1qcegTX1QTKSC6UJfKpVShaOybo4WojmW
                                +U9rzSGHHMKsWbMyz6QdOialzOSeww8/nBkzZrBu3TqCmmfQrMfmmamXB2nnGpn5zXiWze8333wz
                                H//4x/Fz6XMcBEFVYn+7qrltCpN7RnVsMehKAvng4CBbbz1jog+n7TSqcx8EAbfeeiu33347Q0ND
                                WaiN7/uUSiUCqyKImbxMMz8jdNlxwbY72ggLrRJFURbyZ45Dmu7cWpPL5fi373wnrcHPcGlWANGm
                                ZnTjeX3GUspzcyfzQHkeq1e9wfz586vy1lpVYIyCbayIf/VXf5UpLkZhsj065v8DDzyQ/fbbj4fu
                                f2CjviH2NW3m+tmWYXvRvvfee3nqiSfTmP4sOEFnISbj0SS006g4QfrDQs4Xv/hF7r33Xp556qls
                                /jCN7aIoypQ848lpRBzH5PP5bK7SWvPaslf5wQ9+wC9+8Yu08pH0qzw1SilinXrdsMbd0IxA2Yx3
                                xtEedthhB8IwzJQX84xopVo2RNrFOhSwYcMGpOeh22QaM0aPwcFBrr9uTt2S4CNhGzVqqY2UEEJw
                                2mmn4QcBiUqqKn1prdEy9ahHUcTue+zB4Ycfzi233FKVp2obZ5pdl2pbU5iQv0WLFvHII4/wzncd
                                ks3B9jFN5LrX3RKDw1HBLIRDQ0MTfSgdYbR4XxMzbv7P5/MIIYiiKJtM7N9zuVwWL2u8M3bxA7Md
                                u9dCO47fWHlsJcYoJ7FS/OP//t8cf/zxSMv6PZYu6912fep9ppn3NkfsEp8333wzy5YtQ1j3WTu2
                                D2lOz7777sv+++9fVRLaKCC2B9GM/SmnnDJstQTK5XLV95pR3O2Gd2ZbRpkqFovMnTs3FcDUcMNX
                                O49vsmPKspoqYD09Pfzd3/0dCvAq84fx/ppn3xhGTHPS0TBzh1IqDWHVmp6eHubPu4E//fEyvMrf
                                7fA0E6bUKNyo3t82h2symdBap2V/vY0LX7RjjqzNsVq3bl32czswYVMLFy7khRdeoHISI1ZJs4+p
                                XoGhke7JHXfckdmzZ5NYZcvteU6ItPqkGUczt9n7NIYEO/eoUVileZkoDjPHRVHElVdeWVVMoNZI
                                NFE45cUxKTAPit3rJfvbFhB3F3helsdg8hvCStlWk9NgXLq29dNMNmb8jIBgYtZry9Zu8vEFQdZF
                                3QhtCoiSBC8I+OY3v8lZZ59NohVUkn/tUJxuZ6S4eFetKMUsksWhAnPmzMmKQ9hlclvBeBPDMOT4
                                448n39tTpSTU5l6Y61Iulzn22GPTEDPLE7Sp5whUhXKY9+bPn8/qN95IhTI13LPBhHJuDtiKiPAk
                                Rx1zNJ/+9KeHw+PiOCvuYTwjzTYjNd/PQvIqSmEQBPzwhz/k+eeeqwpPs2P8N3X+cs/t+FKbl2Eb
                                t9qBfW8MDg6mHp02YRRl09upNkS03lowloIQ5j4+7rjjmDFjRlXOir3dLGLCTwujHH300ey6665Z
                                +wMYbotgz4X11i37OG35wHzP/Hz77bezYsWKKi9qbX7fROCUF8ekILO8Wouj/f9kp1Gd+6pqTpYl
                                xnyutvGk/T1T1clMaPZE2K7u4EkUEwQBxWIxnfwqE+D06dP593//dz551qfQ1NTKZ9jiOlmp19ei
                                9u9bAlKmBRoWL17MI488grYazLanD44k0Zr+/v6s4Z1ZXCOrypjdABPSqmTbbbcdRxxxRLb4GgHc
                                PBPNChfmWbGrnkE6By1ZsoTbb78dr2IQQG1eVaxMPgpQFfbz+fO+wP4HvINSqURfXx9hGGbeYGO9
                                beb5thUjYwE2xSdeX7GCiy++mEKhkCmF9jNX6zluJDBubmvHZKBWybTnzXYYN8x2qjxybfTqa615
                                5qmnWVgpzmG8LnYZ9nphpfb3R9u2+e4pp5yS/m5V/LSrM9q5KcKTTJ02jRNOOIE4jqvmv3pGQdv7
                                UnucJlfNVmTMM7xmzRrmz5+fjasxMpj9TRROeXFMCoxlt9aKt7ksQM3UubdDY+wwHZOYZ3/Gdjmb
                                ko61E6z5uV3WL6GpUk522203Lv3dbznxAydVWZCMRRyG82S6nZG8LK7UaopAZOFTRsiEYaWmVczz
                                v//++7P3PvsMJ4pT7W0xn62tAnTiiSdmORWmUIX5W7MCjh0uYeeMmWfw+uuvp1QsprH2lYp7E73A
                                twu7kqBpVKmUYvr06Xzta1+jv78/661hPmcrkM1sH9hIAY3jmDAMueWWW7j66qszxcgoMSYE0N5G
                                ve3WS1Z2jC/2s2OepXY9G7WeALsJaluutdLMmzePwcHBqu0DVSWGGzFSlUOlFIcccgj77LPPRopF
                                VpGz0qzYXi+jOOJ9xx/H1KlTs23Whps1e22M8mfnL5rtzZkzh6GhoSoD6ER7Xyb/rOrYIrBjPmsF
                                +nYl5U30+Y2W91LrEjYhOZAqAFGSoEj7gcRKESuV9RBJakItzM+1yfutYOcCAJx66qlcc801HHBA
                                2mjLqwiadhWiOI4nTVhNPcForAvE5oxKElavXs0tt9xSFXONas/YmAXzgx/8YBZ2CKS9XcRwLwl7
                                EQayCmPvfve72WGHHcjn8yRJMuYeDWbOMV4HO/9FVxJo77//fp566imoWE7N5zYH7P5P5rw8zyNK
                                YmYfcQRnn312FiNvwlFNyKpdXWq08bWfo1KpRD6fB4Z763z/+9/npZdeyrzJtfOgo7sxz3BtUY12
                                zJ+2QJ01vrU8Gq2yfv16rr/++kxxN3OHJ6qbctaj2ZLlH/jAB8hV8ll1xctrimEIBFLI7Fmyw1IP
                                Ougg3vrWt2bHVpvfWq84Re17QRBkBkXzXVMlUAjBE088wUMPPZQdj/EKTWTYd/uUl03sc9I0ne7T
                                Mh7HN0oNcMfo+JUyndn0IK165l0gO9bWTx+pf8BI2BaNepOL3WHXDhPLEvQqeTD1+n8IXe0uro3Z
                                bdb6ZVtTy3GM8LxhpUmAkoKdd92VH/7oR/z7v/87ff39eNJLa9OTFgSyLTvGgjRelulWlI16Dc9s
                                b5YkTdZGaYROvVDmd4nI3uvUSycq27f52RMy6wvQqTHMLJ2ex/x581i7Zk1WHjkIgrTHShNTXb3q
                                PbUhk1tvvTVHHXUUKD0sIEsvE1LMd8y1AbKQIhH4nHLG6ZSiKAtBM2V3m1Fg7LBN+3ezz8DzUHGc
                                JbcCHe9fNJa1pJn5aaPwR+sa22Ge9mcCz0cA551/Pvu8/e1I3yeqKIdp2dpUwGv2fIzAZcpQZ16Y
                                OKY4MMj3v/0dBIJApGVqPc9L8+hqxqNeVbhGSf21eQC0Qage6ZqN9PvmTJIkG/UdaVcjySz/pHKf
                                zpw5E8UYPA9ArJKNepiY799x2228tmwZSRQR2sq5JzNZxP58PU99bcijnTMzbeutOPaE44niKOuV
                                ZTfENeunHSJpVxf74Ic+RLFcRnge5Up4nv18N7r3jeHRGAbMs5j1mJEeV195FYFfHaIpfW/C+rR1
                                gdTvcEx+ahWDkZL4Jiu2cuX7ftYN23hOevp6+dvPfZb/999/4JTTTk2FVjTlqNx0k8tuxsT42gK1
                                belTpK59Laj7c6dfXuBn+xOeTDuia5Umdrbp9rPDPWqV6nKhwPz587MwHxPS06xiaodDGq+G3XRV
                                KcVxx1XCI2zDRZPPl+d5HHnkkUydOjWzzCZJknlmWsUcy8KFC1mxYkX2HmwZAmoYhvzLv/xLVgjE
                                eGC8oD0hoUYIu+uuu/jT//wPvb29BEFAoVDYbLxbmztvvPFG9twVi8W2FfOwMfdJLpfLPAjNGCfi
                                JM6aWkJ1iGiSJMydOzebK+z37QT30TDrpW0wNMZAKSWHH344M2fOrCoJb5c8bsQRRxzBVlttRRRF
                                WZ6MGYd2RDZEUcTChQt58YUXUsOYlXs7UQWTuj/Y3OFwTDh2kYBisYisWGB7eno4/fTT+fTffIZd
                                d921qiyjqWo2lryC8WBTj8UOszOLsJSSnXfemUMOPTQbp3r7aiTAtjo+tifEPkatNTvttFPLY2Zv
                                145bN4nz999/P48//nhVgrZR+Jrdfj6fp1wuZ4KvqS5lekGceOKJ2f1kN5hsVgA66KCD2GuvvXjg
                                gQcA6O3trSol3grmXli6dCl33HEHH/3oRxGeHNPxTWak73HIu97FWWedxc9+9jPCyrWL47jKMr2p
                                2AUafvWrX/GJT3wiK6dsKis6uhetNa+88kpW0CWwymu32uMFqr2Gvu8zc+bMMX3fl14WGWAn4etE
                                8cRjj/PAAw9UKRxZ2eImMfeunS9m52594AMfyMIkR6sMNhK777EH73rXu7jlllvS5PtKGJjdvLoV
                                8mHIypUrmTdvHueffz4CMeFzm1NeHI4uoZ6A221WWyOw7rLrrpx00kl88IMfZPfdd69qGGgsXmZi
                                7hbhrZX4aiOE294BszDsv//+fP/iH4wa89zp62iOqXbhMw0c27V941kx24dUsLziiiuyz9qd6Eul
                                UlOWcZOcbfKhTB4JpKESb3/72zn44INBCIQYDt9q1rth8lzOPPNMFi9enCaXW30NWsWEsQkhuPLK
                                KznjjDPo7e/rjFA9TnPCWKyq5jn/7Gc/ywMPPMDixYvxKtbpdjQptUNoXn75ZX70ox/heV6mfDq6
                                GyEEK1euHM7hqBRtEUK0RXkBk/8KuVwuM9jUNlUc7fjMXJnds4lCSMm1115LsVjM/mZX2jL5H43u
                                QbvgkJlHzTOzyy67cOihh25URdQ2+jV6fuJyxOmnn85tt92W5q74Prlcrql8s2ZQStGTy3HDDTdw
                                9tlnM2Xa1KqePRPRZLo7pAqHw9HV1C44u+66K1/84hfZfY89sonVWMztUo3tEAw7TTOClemhY4+H
                                1ppSqTQclzxKyGCjsMJWXyMpiEaobhWjiNqetCiKKJfLLF26lPvuuy/zRtn3QLOKkwlvMJZNUzo3
                                l8sRxzEnnHACvX19VXmD9vVrND5GsTv66KPp6+ujt7e3KsG/XQgheOyxx1i8eHHbttmu4+p0WGuS
                                JMzYeisuuOCCLHSwXQVB7H5UYRgyODiY/T4ZCn5s6cRxzPPPP19Vbtc8d+26fuZ57u/vZ/vttx+T
                                wmzPW57ngUrnshXLl3PjjTdWVdeyG0A228XeeJJNqJnneeRyObTWvPvd72bbbbcdsWlzM/NbEIYc
                                ddRRbLfddpnSYpSqdrQiMOf74osvcs8997StEEsrOOXF4egSurlPiLEYGYXknnvu4aKLLkJXrC5G
                                gDaWdtsz0U3CxaaOp1l0zGJhFiATo9wN2E3g7Opy7RDOa0tjmlcYhlx55ZWsXbu2qjeAUfRqvUEj
                                YTq3m88bpatYLDJjxgyOO+44qChHhrEkrJsxmTVrFsceeyzFYrGq8l6r2PeG6Urdsft+nOaEsTwr
                                xqqstebd73kPn/rUp4isHLFWCYIgC0m0K5qZMCFHd1MqlXj88cerQq5MbkY7+7wopdhhhx3o6+vL
                                jBbNPIdV92ilR5MfBNx+++28+uqrVaFkRskYi2Ju+rCY6nhJklAoFMjlcpx66qlVHhe7OI+d9zca
                                KkmYMmUKp59+epW308ylrWKqM8blMpdddhkwHI0wUZEVTnlxOBwNMQK7WXSKxSJXXXUVl1xyCYnV
                                ICuXywHV3oxuCRurx1isc3YdfHuB6QZqq2x1YsyrercIkVnA582blwkKJiTC/D6WakImOdWMs/Fq
                                HXrooey9995Q2WZtVahmr2GSJAgpOfXUUzPPgN0ErhWM0mWOf8GCBbz88stt7aPUzRhPmVIKpRXn
                                nXcehxxySNYgt1XMfZTP56vyzXSNQuvoTpYsWcKrr76ahd3aYaHtmENtpeKAAw7Iei01Sxb+hcia
                                RBYLBa6//vos+d/sY1N6N5lcF2MENL3ZDjzwQA486KAR54hmixpIzwMheN/73kdfX1+mDLUjZBOo
                                ymNctGgRzzzzDJ7cuPLieOJMFg6HoyF28y87/+HnP/85Sin+7h/+HhDEKhmuTAZZEcWJFvHbkXdi
                                +lgAmaCW1bmfaDe6SMsxo1MrHFQWNNLSycJrTZmxQ4DsPJMFCxawZMkSZMXjYLxRVb0QmhAkfN/P
                                vFlGsOnp6SGOY5555hnOOuusLCfGnIuxTDZTLj1WSRpOUSpXJcyaWPZW740str5i6Xz99de58847
                                2X333btGwe0kdgllKSVTpk7lK1/5Cp///OcZGhhoyz601hQKhSxM0wjB7QqNdHSOBQsWMDg4SL6S
                                L2f6iIRhSCmKCNpQMS6OY7wgYJ999gGGQ8GaEf6zeSqp3Eda88QTT3D//fenxhSoChsz+2tWiTHK
                                vfHgmxCyJUuW8OmzziJGZ/Ob8eZXlS5vcn0xylVtK4VWMWtfT08PAwMDzJ07l7333jutdDlB1f7a
                                p7y02mulUS+YTm+/VZrZfk39eSG6x3I7WRmPZOjxol4YTKY0IIiSmDCfZ2hoCD8MsgnNE4Kkpr58
                                kiRpj5eaZmB2cyvTlMpMpI1qwVcfz7Al/te/+hVaa772ta/hex6IYWE3Ky88wd6XRg3E7Lji2nKZ
                                tU3VTPhKVUhMGyoqtYoR6mtLU7equAAIKbMmo2ZsBILrrrk27S1Tk2hqe2maCnuw+gxAdWnqpUuX
                                snTp0vaOFali3WxYWyOyngtCoCvhIVf86XI+9YlPElgd5uv1b9pU4aL23m1pPOxeD6bJX81+GmGu
                                uynXOvvII/j8eV/gO9/5Dnk/qLp3zNzQ7P1hF4eo7aXRbFhQbU+b2ud7s0Xrjoca2mNohHOjnERJ
                                zG033cyUvj5KpVI2fxojR1DnmpptjjU0NJ/P844DDwBT1ENVzr3B1zPDjDdcbezyyy/PeqfVWx/G
                                8tzaDV5tI9DKlStZuXJlW8cfNu7H1Mw93ugZkb7PULGYzm1XXME555zDlClTNmo22s55aTSc52WC
                                0VpPvFna0fVorfnYxz7G5887Dz9MJ33UcF4DpN6AV199la997WssW7Ys7bNBdTMrM6GUSiUgLXXc
                                jl4Jv/rVr5g1axaf+MQn0j4jFet5u8JyWqWZajCOkdEVy2BYaVKm4oRnn3uOBQsWpNfZ9drIkFJS
                                LJf5y1/+wm233cb73//+tPGcpdTZJVe7gVbv/9ry2YZPfOIT3Hfffdxz14Js/jFCLTAh4ZebtaIy
                                QZhiLkEQZJ6wMAyJoojHHnuMZ599lqGhoaomi0aJra3YVas4N3tv+r7PnnvuyR577JF9t7LBppQ3
                                2+Cy7JWlaWL6JKEZxaQVTNNWU0Fy/fr13HDDDfz1X/81KlGIisFspGIDnaB7g9EdDkeGFmlfih12
                                3JFtttmGbbfdlh122pEdd9yRnXfZhZ132YXtttuOgw8+mJ///OfMmjULKSV+xVVt8gmMq9s0kyuV
                                SqNOLs3mFGit+dd//Vf+8Ic/kERxFtMLdEVMejMdxs3n6v28pSMQhH6QxT5Lz+Pqq69maGiI0CVM
                                A2TJtcYCXCgU0kpFNc00jZDf7mpLE405D9si3d/fz1e/+tWq5qD5fL6q4etEK3BOmWkPYRhW5d4Z
                                78qll17KwMBAlq9mN7utCr2tUDsnN3N9lFKU45ijjjoqC0EF0E02eQSGw6003HzzzSxfvnzShyQ2
                                Wr+bXd/NfOVXmmdGUcScOXOA4fBks716++gETnlxOCYBJoHZTMZ2eV6tFIhUwdFas/c++/Cd73yH
                                adOmUSqVCPP5TFAwcbdGaTEVo0ai2YXdWGS+9a1vcfXVV6Pi4b4o3VANqJHy0kzI3JaMYPhaxnHM
                                m2vWcOutt5LrsmpyE4UR2I0F2izYd955J08/9VT2N9jY27A53F9KqSqh0QikcRzzjne8g8+dey6l
                                KMILgqwQgxFkx/P+2RzGuhsx19C+lr7vc98993LT/Bszj4wdOmWH4dbzuowlZAzSKIIPnHIyYBXQ
                                QFcJ16NhutoPDgxw1VVX4VmK1mRlLB6Z0RQPu5KiCeldtGgRDz/8MJE139Vuu52l2GtxyovDMQmI
                                4xg/DBFSZsqAUipzh2c5JloRlcscceSR/PjHP2b69OkUi8Uswd4kRZvJ3cSoj2YdaWbyMYmGWmu+
                                +tWv8qc//QlB86UqHd1NVfU4BHfddRdLly7dyGq6pWLyN4zHMUkSwjDkzTff5JZbbqkqyWwKBBjB
                                fXMYP1t5M0quUWiUUnz605/mve99L0NDQ0ir10e7co4cE4sdchXHMWgY3DDAT37yk8yjUau42JUF
                                W0UIweGHH86ee+5ZCcUXTTeoBCu8ScOiRYt49tlnq/Jcup1G63er67v9Wa9SnrxUKnHdddcRVDxu
                                4z1WTnlxOCYJWmsSlVT12zD5UsYz4/s+QS5EJQlHH300F110Eb29vSRJQr7igTGemyiKNkqQ3FSM
                                lQpSq9d3v/tdbrv1VlAa2QVJXWNp0jeW8rtbEkYBllJWvGtxZkF3kFkmjfJihPc5c+YwMDBQ1Rdi
                                MglGzWKssga7rGyuJ8+XLvwy06dPB6BouqszPqXU3fPcWYxiYu55gP/6r//iwfvvr8qHq1VcgKzK
                                FlQL0mNZl8pxzMc+9jEAoiRGo/EqRgJNc2FROlFopbjiiisQFcPeZCp13micGv29mT5zxrsqKlX+
                                brjhBt5Ytaruvsz+XNiYw7EFYwsFnuehGbaomP9Nl3KlKqVxheCMM87gn/7pn/A8j6Ghoczla9eq
                                T9rUTM6eTAYHB7nwwgu59dZbx62p3mg0o7x0c5PQbiCOY3zPZ9GiRSxatKiqY/SWjt0Uzg6V9H2f
                                l156iQULFmSfre2YvbkI1sbLYmLiTdPRcrmMUoqDDjqIv/3cZ7PxMiGs43X+tc/85qhAThRVfVU0
                                3L1wIb+79NKNyqsbhdbOdap9BmqvSTP3xzvf+U6OPvrotA+ZHyCozi9riEp7u7z44ovce++92Xfj
                                OO4K41sjGt3Hrd7nRmaww6wDz2PVqlXceOONIz7HnXy2nfLicEwC7LAUrTVxUl1j3i51an7XSiGk
                                5KMf/Shf+tKXyOVyWUUYO8+jUU5Ks6VuPc8jqVQYS5KEoaEhvvrVr3LLzTdP9PA1nbDvqI/pp6GV
                                4vrrr6dQKBBFUSaEbumYZHTzjJnntFQq4VWKG9i9b8yzN5Ymnt2OXYTAhMbFcZzeHzKdn8455xwO
                                PPDALFy1G/LhJgPdPn9phvNXHn3kEb7+9a+zbt26Kuu7neNiKozZ3rqRyiU3w2c/+1ly+Xyab4ZG
                                aZV6X8YQtqyV4tZbb2XNmjVApSkxk9+40KpHBsCXXnbNzPUql8vkwzCb22rHuWtyXoR9EesdjFCt
                                vRoeQIvf7zRajvryFCA0SoDUld4cEpLK747GmByNzMCzJdTor2CEHnO+ttXK/oz9f+p9Sf//wvnn
                                c87nP48XBERJgoIRrV21k1kz42uOz/d9dJLgSwlKUSoUuPBLX+LB+x9Ia+7r4e0bi303VCOzz7ve
                                WFQphdl9qCeN5dwuqW0wDTfrjYH52T7/KIpYs/ZNrr/++uwebFeHc5PcbY+rfcyJ1h191ZtLjEJu
                                jmO0ly2QhWEISuFLSej7CK25Z+HdPP3kU6mFt7KPKIrSsuLjcP1rr/1IQm9V+E4L86p5hrJ+E6S/
                                53I5/umf/ol8Pp+FoJhjscfbhOw0I5w3+/zVE/jHS/hXWP2xav6W1BxTvV4njTzHI3mRG133emNR
                                +5k4jtGkjV619Z6NVICGJx9/gnPPPZdXX30VLwgoxzFYc6f532zfeOtG6+9imjRKhj1mCoiSBC8I
                                OPCggzjp5A+gSYvPSASekJnHpF5VP/v8TO5okiT86U9/qmpaq9BN9clqJuzNDkGz+6Appdo2jylA
                                MTxfxpVtmznMzjGrbSA82vqX3b9WqXdz/I8vXsyjjz660bbTkL3h77Yb53lxTBqGJ5zuFxY7e/6b
                                8F2luPDCCznzzDOz0DG/0iW+VokxJS3HsrDXTny2ZTmKIr7yla/w2GOPZd3fjaJTGyffrdhFDZqJ
                                5+0Wi6jBruhjBA+7U3m9c7EXYtOz5/rrr2fdunVVAn07MHlYRhkyFj5zH/qVMp2desGwtyALi6g0
                                cjXH0UhgHE04LpVKzJ07F4RAClk1/lsCxjIPcOA738kFF1xAoVDIlD47/8EOR9zcvHrNNgIea6Ut
                                uwCELaQbJbRWCbL/Xu93U3jBeFyhIrhW9lNVNCb9Ig8vWsQ555zDypUrq4pWtMu4UYrKVeuTycH7
                                8pe/3HCcapvgmnnFDp+eO3cuq1atyuZ6I+y3A3tfvu9ngr8JrWw0P3mVRPlmXqaxpvnfsyq61VY6
                                NM9bq1xxxRVVRidzjaBzxkmnvDgcWwCiMll+97vf5fTTT888JeWKIGtikTshlCZJwmuvvcZnP/tZ
                                nn322awjO1BVXrWbMRXa6nlaJoPnz1ZSvZq6/I2s8DAsaN8wd95GVYLacf52A8cwDDMLvG0d7OTL
                                jJFd8rfWUtkKvpTccMMNrFi+HFVR6NOddo+C20l0Ylm90XzqU5/i6He/G611JiwaK7xd+KNbvLKd
                                ptU+J+ZztWWHlUqT0Ovtw57rbQOGbaXPBF6tEZrMOwoVhUBIdKL4v7//PZ/5zGdYvnx5leDarkas
                                ps+ZHZ4khOCTn/wkRxx1ZN08mdHmNDuEzTBnzhwGBwfxPK8qimEsCfv1Sj2b7dQaj0byeLUyh41m
                                VLO95OZ5a1dBgjtuu51lryzdKMdIJQmB15nQUKe8TCBbxrLl6AaiOMIPUwH0oosu4ogjjkApRT6f
                                J7YmHHvxqp3cm8EIH3a4kbGSvf766/zN3/wNjz/+OJ70sjK7kyXu3ShidpjQZEm6rs2PguFFs9az
                                UIvWmrgccfeChTz22GPpuVrXuB3KiwkbK5VKG9074ynA2mFgZiEey/7rCU3mWVq5fDkLFy5Eel6W
                                F2as2Zs7tjJqnvmvf/3r9PT14VXGwliB7RyIUqk0LtXIOk3tMzLS7/WE32ZL1dfb50jPtK3ojPSz
                                vV2Tm5V5yMoRUkheXbaMCy64gG9+85usW7cuu87Gc9rOUurFYrHSDiDNpdprr7340oVf3kj4rjcW
                                tYYWWwHSWvPM00/zyCOPbCx81wm3beb6jvQ343ExYzmW7TcbLljvZa/nuVwuy0cbabzGyptvvsnc
                                uXORQlath52s1Db5ZwWHw9GQzPXve/T39/Pzn/+cQw45pCocynZpAy0L5vakbSbs119/nc997nO8
                                smQJvjdcUrbbscMujHBVG6YxWsWcbsBWTJs5Rnvx84OAOXPmEEURYeVeMttrh3KhhQApCXI5tBBE
                                SUKiNUhJPA73hwkp8X2fcrmcCXDtCqswYzVnzhzKpVJV7le33SedJBvnMGC/d+zPueeeS5IkmUBl
                                30tSyqy8u2N0RqpeZ8LGmsmBsStGKaWytcEYalScpAnsiWLdunX87Kc/5ZRTTknDIZUiqBRskYDQ
                                GhXHaRPbNnjW7VC1IAjo6+vj7/7+a0yfPn0jT3LVuddsw7xnvmPWpWuuuYa1a9dupFDYRXBaod6c
                                ZvJSaKNyXs94YiukURRRLpezz9rrWSt4nsfcuXMpFYvoZHicgw42MXbKywTipmTHeCGEGJ60BEyd
                                No3vfe977L///tmEXWuNsj0wze7DtuAZtNZp/G1lkly1ahXnnHMOK5YvTxMrRfdPQ3ZsvnG1m8Ww
                                3jl3G7XeIvvaNpPAvPK117jrjjtSocRKqG7nedvd2YGq8JVOh41prbP8FlNyfFMa6NUbD1uofGTR
                                Ih577DGAqhj8zR0TbmQbS4QQfOZv/4ajjjmaUqlELpfLSisbj5dSilKpNNGH3zL1lIZ6v29qnxMT
                                TlU3GX8Ugd7eR22RhCAIkFKmHg8E0vNYsmQJP/7xjznzzDO55OKLKQwOpnkVVgEZ41UMK80L2yG8
                                mlCucsU7++Uvf5n3vve9I3ou6s1JtYn7JqRt/fr13HzzzVWhwfY2xjq/1ZtD7Zw+26trK0uNQsIa
                                7XO0YzCKqTESeBXvr7l3WiVJEp555hkWLFiQhqhHcfb8dmpdnBzxGg6HoyWKxSL5fB6oWFyk4K27
                                7cYPf/hDPvOZz/D6ihWUy+WqmOba5MZNJQtPEgJRaab5wgsvcM455/CTn/yEnXfZZaKHp+lzsBd7
                                46WyJ/9uFUbNcZfL5bQiT+W4R7Ja2u8ppZg7dy5vvPHGiAt7q+cdRRE77rgju+22W+rdqRSTGKsC
                                vamEvs/AwACPPPJIVTNOU1SiXV3Ai8Ui8+bN48ADD8QPgqYa6G0OmDwiO85eSklPTw9/93d/x7NP
                                PsWqVavI5XLZWAGZV2YyeGdbwb7Ha+/1Zu5/3/cRnqzK18i+U3mGR6ooOVrI2tDQEK+99hqPLHqY
                                2267jfvuu4/BDRsyIdzMiyYE0uQw9fb2UiwWUUrR29tbt7LhWCmXy/i+z5lnnsnZn/k0sLEBoN7Y
                                1b5vh4YC3HbbbfzlL3+pqiRpPjcWA8NI+ZBGaXjXu96VjYO9n2bKpTeaf0Y6RnPNi0NDLFq0KCuA
                                YcL52mV8MmN69dVXc+yxx+JVvGRRHHWsMIlTXhyOLYB8Pr+RtUdo2H2PPfjBD37Al84/n3Xr1mXe
                                mbFahetZ/GpLN2utScplent7KZfLPPbYY5x33nn8+te/5i2ztp/oIWoKO34YoFQqsXr1ahYsWFCV
                                E2M+2y3Y1tR9992XbbfdtsrKWPtZg2nUNnfu3Kwal7GK20JPq+caBAEf+9jHOO+886o8Qtk+OjyU
                                UkhWvPoqH/nIR3j11VfJ5XJZCFMzSfv1xqBW2TU/z507l/POO4/p06dneWibOybsp1aITrTiHQcc
                                wBe/+EX+7d/+LVNwagsnbC6M9qzUVgMbS+EU80wODQ3x5ptvVoXrSERa8tdKGI+iKDO6GK/8qlWr
                                GBoaYmhoiCVLlvDiiy/y8ssvs2TJEgY3DKSeCivvxU70N2uK6XNkFP5cLkehUGg59DJtvOxx+OGH
                                841vfCPz7jQT8mR7lU2vNFM9MYoirrnmmuyeg8rzbuU22hXJNpWPfexj/OM//iOe75NUjEZ2Nbd2
                                lxOuVYbXvrGaj3/84zz//PNV169dhiEjLyxcuJAXXniBvfbaKx3jXNgx41PTd5Rd6jB1Q9YcjG7R
                                MtXpXi3dfnyOhgw/AN0jFE7M+W8a9gRs/3zY7MP50U9+wrnnnks5jkm0RpgwAl1ZGBtMrqOV37QJ
                                w5C4XEYCSmuee+YZvv61r/HzX/6SfD6fJnyiq46v2UWq09Ra1szCc//993P//fdP9OE1Ra6nh9//
                                /vdsu81MhLSskUCcxPiyuky2lJIHHniAJ554ouq864W3NDN2ZpGL4zgTsLTW9PT3cerppxGrJBNM
                                hEw9dVprZIcVQa012+0wi4Pf9S6WvvoqWimUZU1udhsjvWfCRkqlEmvWrGH+/Pl88qxPZX8bj6T0
                                ejlZ9azWVet8jRK5qWzUg8rkHlRCRj/68Y9z54IF3HHHHakQXBEsTY4FcuT9t6tghF321+SKtAtT
                                YTGp3Mv21fZG8BaMdG71jCNG+H116VI+eOppmbfKLhFsBPFCoZA1mW12/CRs5JHP/mZd2yiKqu4j
                                Uwp/JINO7Txi5no74V9KSYxmrz335PsX/4Ap06Zm+2ukWGT3OYCoyfNQmicff4L7770PlEqviRDo
                                itHC9hCONvZpWLTIZGT7e8ZbdNoZp6PQeJW+a0iBQOKZseuwTDNj5jYcc+x7efrZZ7Pn3rcKM5hz
                                shXmseS8Cq3xKud78803s9c+e+MFft1r3i66P9jc4agw/BBtPpa4buGwww/noosuore3N7N6CiFI
                                dHPVUBpRbyLM5/NEUcS9997L+eefT7FYTPtgVBYlE47QDYrL5k4UR/hWSUuz+CqluPLKK1vevlFS
                                jHfK9IEw1/eII47gLW95SxYXbsJfxsvqbu7N0047LdunCV1rx+JrBDGjsF177bXp/c7Eeei6yaMR
                                hCFf+cpX2GabbfB9n1KplOZP5MLNPmRsLIxUitf8XigUWL16NcuXL2fFihWsXLky+3/lypW88cYb
                                rF+/nlKpNK7j2kxxEKPoGIXFhLgqpdhnn334+c9/zo477pitC3bPl0aUo3LWaF3rtOwzQnDllVc2
                                FdJWW82r9j3j2bJDiOM4JsjleNdhh7H77ruPmLw+Xs/h8ccfT19fX5Uxwg4drlfIpdljM2HIpVKJ
                                a6+9lvXr12fKbKdaITjlxeFwkKiE0047je9///tZUh+ksdSJbn2Rq9dZOIqiLDznjjvu4Pzzz2ft
                                m2+Crq6e44SXzhP6AYJh66e5Rkte/gsL7ryr5e3bZVZr84aUUpxwwglZvkPtYjdewr2UkoMOOoj9
                                9tsvsyA3U0602YRa2+r78MMP88iihzdqKrilotHst//+nHPOOVlID1TK4/qbj/GiU/eyua/s4hbm
                                mbO9f0YZ9zyvqrJkp86xUXlfc6wmed4+PlnJj9xnn3345S9/ye67706xWKzqP9Ps8xMGIYJq79Hy
                                117jrrvuyqonjsZIHhf7HO0xl1JmTW6PPfbYTGmww6k3tSDApqC15p3vfCd77713Va6S7f2ud+3s
                                82x0zX3fJwgCnn76ae5ZeDdJknrRO9UKwSkvE0j32L0cWzqe5yE8yQdOPpmvfvWriMoiGEVRWyYf
                                sxiZiTIIAuI4zio8+b7PnXfeyT/8wz8QlctIIbO6/o7xwa42J4TAE5J58+axfv36lrdtL4oml8EI
                                WzNnzuToo4+uWlChuUTWdmEW6P7+ft73vvdVxcXbjd1G+l4z55+Fw1TO6ZprrgHoWs/ieHpmhBDE
                                SczZZ5/Ne97zHiLLsr65KnftHF+7eeNo+6j13HRKea6X/zVSFa164VlxHCN9n8OPOIJf/frXzJo1
                                C601+Xw+M67YikLD46lsM2sL4HncfPPNrFq5sinPgJ03Y5+PPY5GWE+ShFIUoYCpU6dy4oknVlVO
                                hOG51s4b6jRSSt7//vdX9fGp9W6P5tkbjez+U4r+/n6uv/76bN50pZIdDkdHUUqBgM+dcw6f//zn
                                swTtdrh9oyiqsq5JKbPKJ0ZJEkJw00038Y1vfIM4isjn8lXVzxydY6PY+ChmYGCA66+/vi3jX9sP
                                xyhIhUKB9773vWy33XablEvTTrTWSM/j2GOPpaenJwudbMtxqGFruBnjO+64g6VLXnFWLIaFQT8M
                                uOCCC5g+fXoWUrg5KC+dvpdr+3PZQvFonhBTUa/T5zxaNSxz/Ea5MLlBJ598Mr/+9a/ZYccds3BS
                                E1pmn2czGC+v1jp9FisVFNu1vthlmKNKWGwcxxxxxBHsuNNOVUpWbdGK8eR973sf06ZNy47HNIGt
                                V42t9hqNRhAEmdc+iiLuuOMOnnnq6SpPU7txUsEEsmWmnTu6Fdt9/OUvf5kzP/zhqhCyVjCLj+kd
                                EEVRZkHzPI+wkgMRBAFXXHEF//Iv/0JULuN7Pioevw7rWyrGKwaA0ni+zz333MNLL73Utn0Y4d1U
                                lDLelzPOOKPKimmU5fHOeRFCoJViv/32Y//996/KyTGfqfe9ps9d2z9r3njjDebNm1fVh6ObGE/h
                                yvQHiaKIdx50EOeffz4Ksjlhc2UsFcUabWek8J/aRHvbU9AJz0utl6KZc7WbUOZ6evj617/OD3/4
                                Q8J8DqWrw91qv9cMZjyUUggpefDBB3ny8cebFq7r5bnU/hwEQeYxNOdyyimnkFihp/UUl/Ewzpn9
                                vfWtb+WQQw7JPCV2WHYr85vpzZTL5fClZHBwkDlz5iDoXNi3U14cDkeWRA2gKjku3/7OdzjjjDPa
                                1uPCdPc17nMziWcNtCrCC8Af//hH/vmf/xkYn8ndkXrHBGmVpXKpxFVXXUUcx23xvNUKHkaROeCA
                                A3jHO95R1STPVlrGM3TJCDbS8/irv/qr7D5tlLTfVLUm0wAwGRYUfN/nxhtvbEtY3mQnsSs8acVZ
                                Z53FMccck4XvbQ6MhzJYL6fEHtt6n2lLB/kaxaRev5PRvA3mGdt///357W9/yznnnotCZxZ9sw27
                                l4wJOW52fkqSBN/z0Upx9dVXZ0aUZnM6as/Lfs/0TTHPealUYrfddmP27Nl4Vol5uxHoeJcBT/u7
                                SU4//fTMKGmMiva5bUrCflAp9mKa0IZhyO23384bq1Z1rAm1kwocDkcmpJnwIbMgfOOf/5mTTjqp
                                5e2b5Hy7bGa9SdOzFqorrriCi/7lXyZ6aLYIsmaASYJWihdffJF77703y0tpFbs/jGn8GAQBRx55
                                JLne3kwoscPXxqM5ZZ0DRSvFYYcdxvbbb9+2mHQTTmFyv4xX54knnuChhx4a33PsQsy8YMZHSsk/
                                //M/0zdlSsfCmjYnbCWkNp/EUHedfKsAABUKSURBVK8Mrnl/PI5vtIT9adOmcfbZZ/O73/2Oww47
                                DCr3QhRFw6WrLYIgIAxDisViU/dHZohIElasWMHNN98MUNWXq9H3a8fQ/t/zPMqWN8P3fY488ki2
                                3mYblFYbjbV9rxvlspNkIatKceSRRzJz5szsmbONRZuasA+AGi5IorXmpZde4u677+6YZ7lp5UUi
                                IFFIBEKAjwYVI1SCVAlaxS29UHrU10gJX02/SEZ9oUd/tbr92AM/1ngKlBT4CoIEEgHKxY+NkfZ2
                                924H9XootFvwqppYGHaDt+v87QXQDwMQkO/t4f/8xw85bPZsYqVQQFzVzMvMCaNbpo172iRh29XH
                                soZ1lYXEEwJfSlQc88f//m9+8bOfpfOAJrNcG8x3ssmX6sm3WQG40fPdTQ0nx3IejT5b+3Mcxwgp
                                mTNnDkkUpcpkE8J7w/HTaa+LLDxNSqTvc8ppp2VhFfb9ZyyU4zXuWcJw5Z7ZaeedOfCgg9K+HJbl
                                tF6vn6aui0ifKS3SezYMQ4TWBJ7H5Zddlh2D+T97oTdOibEEjaYTlmuExnrXr6r0q3XNx/MaZPuS
                                gt322J0vXfhlkqztTPU9bSdBN7r/mh2fevtpZ1hX7Zpl56mMdn1sL4n9sudWMx6jnXujvjH2fGoX
                                WKntAWIfU72wIxMObI7R/oztKSnHMce85z38/r//wFe//vdM23qrtGeNFFnIoKC+UA1puf3mbq5U
                                jpSel5XyVYw9NLXe9TG/B56HL2U2X5544onomp5ldqJ81utoHAp22M/VlClTOOGEE7JrYvfKse+b
                                0cLJaomSOKsKaMJiQ9/nT3/8Y/aZ2gT+0QqhNEPTyktCKmjHlck0lqkQrn0f5UsIvNFfnhz1pf3R
                                XxLR0svXo78a7b/R9xvt39w4WlB5iewCNCon2MzN0+r3u3379mTdjRmuIyUndkIAs7cvpUS0Kayq
                                3nGaRejiiy/m8MMPB4a9NEmS4AV+VafmkbbZ6Pra1WZMToxp6vcf//Ef/PSnP023Y+XLGMGlqts7
                                ukr4qx2v0c69UUnPka6FLdhu6qvV4xtpnO33qq5JjaBmclDCXI51a9dy0003ZTX67RC/TX1prYlV
                                UvU8H3LIIey+++54XWBZz7w91n148sknZ9bfkUJwzM+NhGdThcj8bsa1VCqxaNEinn322apu5VUJ
                                vlpVC441164dwnWtUG3fI+OFUUJsS/RHPvIRjjvuuEzhswXpIAiy579WqK99NaLWIzGSsNzq+NoC
                                YT3lYyRjVKP7a1PO386TMWNuPK224ccoMXbYlsmXAarWZrMumHvcJMQbxci+jkccdRS/+93v+M1v
                                fsPee+9dFcLUrnHPtlUxTBSGhrjllluq8n2aUR6aGX+T96GF4O1vfzsHHHBA1xm9TOjYsccem1UU
                                NZ6regpys+uTKb5jojZM/tqTTz7Jww89VFV8w9xb5tndVJpeNSQgkXipuI0QHpqKcICEpNEE2mAA
                                GpyDahQ312ACV16j/Y/+/dhrsH/V6PwViR72xYjU34OsaKm6RYF8LFbWejS6QTvt3Whm+7UTez1X
                                50RRO+mO9nsrDAvpw/s1DbfauX37d8/z2H6HWVxyySV8/OMfZ9myZcjKRKS1JsiFI05CzeYu2I2y
                                jMKUJAk9PT2Uy2V++MMfopTi/PPPxxNpXoKZEM2CmlmypJfV9G/WNd9IwGl0Ho1Ci8bj+Wq0jdrn
                                p/aYUo+I5rbbbuOFF16gN5+vsua2ghf42bWNogjp+5x66qn4QYDSqmNx0WNBCIGWpB4+pTj66KPZ
                                ZZddeOmllxo+w43uH1vpMcKgibdfvXo1N8ydx4Vf+UpVh/FMmBCNrcPtnN+z6601qsZD0EnMM2wL
                                k7lcjgsvvJDFix5m+fLl9Pb2VuU62DkErYxPrXdVKYVWCmR7enHUEwJtQa6RstSJpOfaa2obe2o9
                                XEYYNcJ+bWinXfrcFuiNEmN7mI446ig++clP8p73vAchJXEUEYRBpkyNViBjk6kc0wMPPMDixYuz
                                /iZSNJdQ3uhYjAJthPITTjiB3v6+jUpATxT2NUmShNmzZ7PffvvxxGOPjVpxrdl53+7bZu6HMAwZ
                                HBxk7ty5HHTou6rGsl744lhpelRFAl6sEEojtcRXpAJ/AiQqCwsY6eWp0V+NPBeNti+FHPUlGvxr
                                uP9G32+wf6RIXxWLVq03odOW2VYtUxPteRntIeqGsLFGY9EOy/WIQuQ4KG9KKWbtuAM//elP2Wmn
                                ndJwGmtxGsv41HsZS5jJhzD3ZKlUyrqxX3LJJVx++eVIzwM1bC2sLfVoMONlC4KjeX5Ge9nPUbd6
                                Nkf7ri3kZYJpjaXXWETnzJlDT09PZkFtxjrW6PjjOCZJkrTKDbDVVlsxe/ZsojjqisXdPg9dGe7+
                                KVN473vfu9FiC1QpdSOF69SGYNhCuRAi8+gEQcD111/P4MBAFhZpe7vs8TXeodp9j2X+GC20quq+
                                Ec2HpbWKLQQDWQJ0kiTss88+nPuFL5Dr6aFUUyrX9mY1Cvts9hnLnvM2hi7aXoraa1L1XMImHX+z
                                nhlzLLVhZvY51rsfTNEEO7zI3oZXqbQVJQlIiQKiJEEBwvN4y6xZfOrss7ny6qu59NJLee+xxwIQ
                                xRF+ONwosbYPSlvvLym56qqrsqTykUK9N1X+8n2fKEno6+vj/e9/fzZe3SCfIKpDtT3f5+STT86u
                                Tz3ZYizjY0puG09OqVTK7rsbbriBlTX9dOx1ZVPHp2nPi5aQSBPypEjwQAqEJPXCNLL6NfIsiNFv
                                Vtmg4EhDy1KD+0/J0T8g4waW1Qanp0Qlf8csOsLEFCqk1uhGG2hAqw9Iq5bhVif4Zrdfu6B3xcQw
                                xnPZFOz4YUjDo4TJNRmHITA14d++/35ccskl/O3f/i3r3nwzs5S2utiYbsSmeaUJCzGTnOnEftFF
                                FyGl5EMf+hBhEFaVsq29Bvai3WnP40R7/5o9/uweEgJZ5zuPPvoo9957b7rQVATuMAxbTiqtune1
                                5ogjjmCbbWd2VRlc2xIuPYlOFCeeeCJ/+MMfiEqlqrCZkXJgGp2/EcrtcDQpJS+99BK33XYbp512
                                GkkUI7zq+9ae85DDSoVnHc9oNHt/ap3GALTb89AIW8m2n3czTh//+MdZuHAht99+O1oIREXQNRWj
                                Wp1/7IIRyiiFSmVyQ7sUODu3qrbT+mjXsdH4N/r7SDlM9r5rQ8TMsQohSPRw5b24Ylwy416qKDb5
                                iqfWhA1ts802zJ49mxNOOIHDDjuMrbfeelihIn3GAk9m17D2WG2lrNXxV0rx2rJl3HPPPdl9Yzyc
                                zdw/zTzjZgwPOOAAdnnrrlXXdKLXByB7lj3PoxyVOfLII8nn85Qqc1stY5GzzDpcLBbJ5XLk8/ns
                                3N944w1uuOEGPv3pT2dGytpoiU2haeUlEZB4EEuNNmmEOkYLH61VYx9Oq1FlfiPlZ5PHoPL9Bhen
                                xe0LLfC0xrNSioVIvTbNCJ+tLk5jmdw68f2G49OE8GVbjLrGotEE7Uz4zIQmK2FfaBCNwhpbPHal
                                VFZe8Z0HHcSPf/xjzjvvPIpDQ6PmvDR7/sbbopTKJr5yuTw8yVUW1CiK+MY3voGUkjPPPBNPyLSg
                                hxg5qbOdwl2z5zORjBROWWVFrAiptZ+94oorKJfL+L6fecHshM5NxSyApnfHKaecQi6XAxhRAZ2I
                                cbMty8KT7Lfffuy33348smjRiOfV7LZtD6CZw4zSnsvluOqqqzj11FPxfD8tYlB5HkwoTu2+zDab
                                EQKa/bvWOhOs0zyB8Rt/cx+YsDCtNaVSKZ13fM0//K9/ZPHixWzYsIFCoUAuCMjlclWe2tHGv9Hf
                                61qaZXsGwPZ8JEmCrHjWzL5rLfztnmNqvc/mHGvP3dxPJqzKPj7jsTANMc16lMvlsvlir7324ogj
                                juCggw7i7W9/OzO33TZVghl+poCq94xnvZ63o9mclEZ4vs9VV13F6tWrM2XFvh6NaPT8xJbSduaZ
                                Z1bl77QrJ7UVlFZ40iPRCq/SIHqfffbh0EMPZeHChdnn6oUVjyVs2M5Ls+e56667jrPOOquq2qjx
                                nApLkR8LzXteSCuL+WikkHgaEq0hUQRKU24g/Dc6tEair26Us0Kj/TcQjpMGwnsD4bCRZ8lLBJ6q
                                hLltgrbZjsm5k9tvVbhpdvtVi2yFrrBqWMfSieOpXUiqxqVhvlVr52Pc+cYil6iEww8/nO9+97t8
                                9cIL23LeWmvy+TyFQiGb8EyHc/N7qVTCr5TH/PrXv06SJPx/H/kISVxT6cQKA2vW9d9I+a5XMaad
                                Akarnp9mxtcWCJRSmXXfsHz5chYsWDDs/aosLGEYttzrxQ4L2nvvvTnokIMBssIME42GNByR4cXa
                                8zxyPXlOPf00Hl+8uG7oTLPUehZq568oirj77rt56KGHeNehh6b70GwU/6916sHPDBlNhjY1Y1zK
                                BGxpCZjj5HmB4UIg5v7zfT+zjnuex5577sn5X7qAb130zdTAUUkAbyavoJn1zR7H4fDK9py7EfxH
                                Mrp12jNc6/ms3a7toTbHaifx60pIb19fH1tttRUzZsxgxowZ7LTTTuy8887s94792WOPPZgxY0aV
                                EcD2qpRKJUIZVikkxXKJfC6/kYJSL9SyFdasXs2cOXOqDAFJkhBWCpW0eo1936dQKLDTTjtx6KGH
                                ZsePTMsT+3LijTOGzFgkBCeddFKV8jKSB6bR+JiQ4DAMM4NXEASZovjYY4+xcOFCjjrqKGB4Xmvl
                                +jatvASJoF8GTA96iCT42gMVokWAl+i04tgoNLTsywbCP6OfZMOHv8E6kzRYP70G328UllbMpcn5
                                /X19TFE+UiTEUuJpBdpH69G1/04LN92OmUxNh/ZuO+9tttlmI4tWOy1pxWKRvr6+4fAGdKaQd1qs
                                MBO9CeEIggCE5qQPfIC1a9fys5/8ZNRGfnYs82jEccyUKVOyCdAOYbAXflFxT//qV79iv/32Y599
                                9qmxHKeLcT6fZ9q0afT09LRsma53TmP5fjuVp9GOZ7Tj0jot+9vT05MK6lYJWqUUDzzwAENDQ2y1
                                1VZp8q1lGWv1/OI4xgsC1q1bx+mnn86MGTOqGqNONCYM04yfXcXq6KOPZuedd2ZoaKiqE7idc9Xs
                                820UOFN9LNu/EGzYsIFFixZx0EEHpc9LxQtS+2wJKcnlckydOpXefL7Kmrmp18dcC6015Tgmn88j
                                pEyLKYyT5dj2wNVa3hWp0vapT32Kxx5dzJ133klYUW6y8tstYM8fxXI5nTPa6Hkyc1GmAFv7bRSW
                                0+7waDMfB0GQradJkjBjxgymT59OPp9nxowZ9PX1MXPmTLbZZhu22mYb+vr6mDJlCv39/UydOpV8
                                T4/ZYCb/mHE019IIr6aPFFhV5bQin8sTJ3HW5LD2GCHt3m6qWW0qTz75JGvXrmXWrFmZpzOO47QQ
                                VRuiOKIkoVwuc9xxx7H9DrOGq2tVjP0TjRSSRCVpMRtvWFk/4YQTuPTSS1m/du2I4YSbggnNM/f3
                                mvXruPvuu3n3u9+dbTd7tjexqIHQTR5dCUgUlOOIWCUklRtWS4GmsXC/pePrOC0sYAoMYP6v3CTd
                                4zzoSsxk5lsLlv23ifa+rFq1quPn39vbS2+loV+3nHccxwwODlIulzu+L9uTYvJient7mTp16kb5
                                ASbsrFAoUCwWuyIsaSIxluQwDOnt7c0ECTtheGBggKGhoY0sxO3wJmaV6YKAvr6+rCpNN9zDzbB6
                                9eq6CfIjhehtyvhAWl2rv78/E/psIc6+VoVCgcHBwapS1q1gJ7/b90i3XBvbo1oqlRgaGspyhppR
                                3sZy/kEQZOffjth8SD0vAwMDFIvFrAqiub7joRzaRiDj3err60uV1C65xp3kzTffzEo1Q/2Q2lYw
                                gng+nyefz3eNUcZQ63m3Q+ZKpRKDg4Md3b9SijAM6evry0LLYGy92GppWnkxUVHa+lVX0jU04xoa
                                OykxpZCNspIWnM7+6AawAbb1sRsn2057gGrj8Wvp9JjUTjb2Po0A1WlqQztsZab2M/bvk0VA7iRG
                                8ANGVPxrhWWbdgmHUF0W2/xtstCp57zeczXaMwdUh/W0qWBLt4bj2tSrhtWO86+33U4cd+08Ph6F
                                Z+pFAXTr9e0Utde3nYz0/NbLZ5poatfNduQ0NqJeWKY9VptC88pLrIZLstYmsXVJ6E43o6x7Y1Pz
                                XhyOblh42lUBZqz7rHfO9WKjJ4MANlGMdP/UUwTrvdfOY+jGhb0bqCcEtdPLM9I+R1L6u+X6jHRM
                                7TBOdPr8az1k4z2PjzZ/jvdcPlGMx5jb49wNa/VEjUOjfbfj2WpaebET0u38kexiddkF6jaqcm7c
                                UI2ZkTwv3TpBtJvRznMiPAt2Ocvx2HejRaHZ97ZU7OtlGOleqv17O+6v2ryNbhOMG9HpZ8w0iqsX
                                pmSHedRTbNqR2DyZvZOdUF46ST0PqKOzdNqg1e3XdKRqhZ0ck2aPa1OV56aVl6SmHliWcFb5P2pY
                                L2zLJkhkGh1mFp3JuU5MGI3K8E7WhXdTGe/zrqesTPTYO4WlPdQrtjCS8NwJJoPg3CkvVLOMxxjV
                                WkXNz80W3OgkIxWO6JRX0P69nec/khA5UVbwyWZEaOVc2+2tm2yMFNYGE6N0tbpWN628ZDsynzY7
                                NF9vUz30zRbneWkb3WAxmKjznsjFphv2DzTlgan9XrdaxMaLseZJjbWaWrPHMJGLZavHPh7Kw0g5
                                EfU+Z/9tS5oHNxfGWyF2hp1h2v082/NlJ/OmWj3GiVq/R+vN13HlpW4bkw4mQG1uKFkdOjaaC88x
                                MrWKy5Z033WL5aQ2jGU8vT/25LulW9LayUjzT6cs25PtWk2kdRxGLl3aqWOaaEPFRB9TJ/dltm22
                                P96K/GR9Bls955GMXp1+trtpbeq2a9+KAt+88lLB9HIUApRInQga2LILkTZGUd2osztuHcdkYiIn
                                QbvZ2EQoL6MlnMLG3pdutX5NJI0WrvEOw+u2hbRbGM3jUu/9iTiWiRiTyRyyN15K56acQzcJ1+Nx
                                /p1WXmpDrLthfGtDf2vHY7wNkLXl3zeFMSsvDofD4XA4HA6HwzERTK7AY4fD4XA4HA6Hw7HF4pQX
                                h8PhcDgcDofDMSlwyovD4XA4HA6Hw+GYFDjlxeFwOBwOh8PhcEwKnPLicDgcDofD4XA4JgX/PzvU
                                rn+cownhAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIxLTExLTAyVDExOjE0OjI3KzAzOjAwM1pNGwAA
                                ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMS0xMS0wMlQxMToxNDoyNyswMzowMEIH9acAAAAASUVORK5C
                                YII=" />
                                </svg>

                    </div>
                </div>
                <div class="header">
                    <div class="el-row">
                        <div class="el-col el-col-12 el-col-sm-24 el-col-md-12">
                            <div class="page-name el-row" style="border-left: 1px solid;border-top: 1px solid;border-right: 1px solid;border-bottom: 1px solid;">
                                <h4><%= t.companyName %></h4>
                                <h4><%= t.referral.referralConfirmationForm.name %></h4>
                            </div>
                            <div class="el-row" style="border-left: 1px solid;border-right: 1px solid;">
                                <div class="el-col el-col-5 el-col-sm-5 el-col-md-5">
                                    <div class="el-form-item">
                                        <label class="el-form-item__label" style="margin-bottom:-30px;width:100px"><%= t.referral.referringFirm %></label><br>
                                    </div>
                                </div>
                                <div class="el-col el-col-12 el-col-sm-12 el-col-md-12" style="margin-bottom:-30px;padding-left:15px;">
                                    <h5 style="width:150px;"><u><%= referringFirm.firmName %></u></h5>
                                </div>
                                <div class="el-col el-col-5 el-col-sm-5 el-col-md-5">
                                    <div class="el-form-item">
                                        <label class="el-form-item__label" style="margin-bottom:-30px;width:80px;"><%= t.referral.firmCode %></label>
                                    </div>
                                </div>
                                <div class="el-col el-col-2 el-col-sm-2 el-col-md-2" style="margin-bottom:-30px;">
                                    <h5><u><%= referringFirm.firmCode %></u></h5>
                                </div>
                            </div>
                            <div class="el-row" style="border-bottom: 1px solid;border-left: 1px solid;border-right: 1px solid;">
                                <div class="el-col el-col-5 el-col-sm-5 el-col-md-5" style="margin-bottom:-20px;">
                                    <div class="el-form-item">
                                        <label class="el-form-item__label" style="width: 100px;"><%=t.referral.receivingFirm %></label>
                                    </div>
                                </div>
                                <div class="el-col el-col-12 el-col-sm-12 el-col-md-12" style="margin-bottom:-20px;padding-left:15px;">
                                    <h5 style="width:150px;"><u><%= receivingFirm.firmName %></u></h5>
                                </div>
                                <div class="el-col el-col-5 el-col-sm-5 el-col-md-5">
                                    <div class="el-form-item">
                                        <label class="el-form-item__label" style="margin-bottom:-20px;width:80px;"><%= t.referral.firmCode %></label>
                                    </div>
                                </div>
                                <div class="el-col el-col-2 el-col-sm-2 el-col-md-2" style="margin-bottom:-20px;">
                                    <h5><u><%= receivingFirm.firmCode %></u></h5>
                                </div>
                            </div>
                        </div>
                        <div class="el-col el-col-12 el-col-sm-12 el-col-md-12" style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;height:235px;">
                            <div class="el-row">
                                <div class="el-col el-col-24 el-col-sm-24 el-col-md-24">
                                    <div class="el-form-item">
                                        <label class="el-form-item__label" style="width: 118px;margin-left:15px">
                                            <%= t.referral.confirmationNo %>
                                        </label>
                                        <div class="el-form-item__content" style="width: 200px; margin-left: 180px;">
                                            <div class="el-input">
                                                <input type="text" disabled="disabled" autocomplete="off" placeholder="" class="el-input__inner" value="<%= referenceNo %>" style="margin-left: -30px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="section-header">
                    <div role="alert" class="el-alert el-alert--info is-light">
                        <div class="el-alert__content">
                            <span class="el-alert__title" style="font-size:18px;margin-left: -25px;"><%= t.referral.referralConfirmationForm.confirmationOnReferral %></span>
                            <i class="el-alert__closebtn el-icon-close" style="display: none;"></i>
                        </div>
                    </div>
                </span>
                <div class="el-row client-info__header">
                    <div class="el-col el-col-6 el-col-md-6 el-col-sm-24" style="font-size:13px;">
                        <span><u><%= t.referral.referralConfirmationForm.companyName %></u></span>
                    </div>
                    <div class="el-col el-col-4 el-col-md-4 el-col-sm-24" style="font-size:13px;">
                        <span><u><%= t.referral.clientNetworkID %></u></span>
                    </div>
                    <div class="el-col el-col-4 el-col-md-4 el-col-sm-24" style="font-size:13px;">
                        <%- t.referral.referralConfirmationForm.typesOfServices %>
                    </div>
                    <div class="el-col el-col-5 el-col-md-5 el-col-sm-24" style="font-size:13px;">
                        <%- t.referral.referralConfirmationForm.estimateFeeCurrentYear %>
                    </div>
                    <div class="el-col el-col-5 el-col-md-5 el-col-sm-24" style="font-size:13px;">
                        <%- t.referral.referralConfirmationForm.estimateFeeNextYear %>
                    </div>
                </div>
                <div class="el-row client-info__form">
                    <% clientInfo.forEach(function(item,index){%>
                    <div class="el-col el-col-6 el-col-md-6 el-col-sm-24">
                        <div class="el-form-item">
                            <label class="el-form-item__label" style="font-weight: 700;margin-left:-20px;width: 30px;"><%= index+1 %></label>
                            <div class="el-form-item__content" style="margin-left:20px;">
                                <div class="el-input">
                                    <input type="text" autocomplete="off" placeholder="" class="el-input__inner" value="<%= item.companyName %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="el-col el-col-4 el-col-md-4 el-col-sm-24">
                        <div class="el-form-item">
                            <label class="el-form-item__label" style="width: 0px;"></label>
                            <div class="el-form-item-content">
                                <input type="text" autocomplete="off" placeholder="" class="el-input__inner" value="<%= item.clientNetworkID %>">
                            </div>
                        </div>
                    </div>
                    <div class="el-col el-col-4 el-col-md-4 el-col-sm-24">
                        <div class="el-form-item">
                            <label class="el-form-item__label" style="width: 0px;"></label>
                            <div class="el-form-item-content">
                                <input type="text" autocomplete="off" placeholder="" class="el-input__inner" style="border-top:1px solid; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid;" value="<%= item.typesOfServices %>">
                            </div>
                        </div>
                    </div>
                    <div class="el-col el-col-5 el-col-md-5 el-col-sm-24">
                        <div class="el-form-item">
                            <label class="el-form-item__label" style="width: 0px;"></label>
                            <div class="el-form-item-content">
                                <input type="text" autocomplete="off" placeholder="" style="padding-left:3px;padding-right:3px;" class="el-input__inner" value="<%= Number(item.estimateFeeCurrentYear).toLocaleString() %>">
                            </div>
                        </div>
                    </div>
                    <div class="el-col el-col-5 el-col-md-5 el-col-sm-24">
                        <div class="el-form-item">
                            <label class="el-form-item__label" style="width: 0px;"></label>
                            <div class="el-form-item-content">
                                <input type="text" autocomplete="off" placeholder="" style="padding-left:3px;padding-right:3px;" class="el-input__inner" value="<%= Number(item.estimateFeeNextYear).toLocaleString() %>">
                            </div>
                        </div>
                    </div>
                    <% }); %>

                </div>
                <div class="el-row remarks">
                    <div class="textarea-header"><%= t.referral.referralConfirmationForm.remarks %></div>
                    <div class="el-textarea">
                        <textarea style="min-height: 17px;color:black;" rows="2" autocomplete="off" placeholder="" class="el-textarea__inner"><%= remarks %></textarea>
                    </div>
                </div>
                <div class="el-row footer">
                    <div class="el-row">
                        <div class="el-col el-col-4 el-col-md-4 el-col-sm-24" style="height:50px;padding-top:15px;padding-left:15px;">
                            <%= t.referral.referralConfirmationForm.preparedBy %>
                        </div>
                        <div class="el-col el-col-12 el-col-md-12 el-col-sm-24" style="font-size: 16px;height:50px;border-left:1px solid #000000;padding-top:15px;padding-left:15px;">
                            <%= preparer %>
                        </div>
                        <div class="el-col el-col-8 el-col-md-8 el-col-sm-24" style="height:50px;border-left:1px solid #000000;padding-top:15px;padding-left:15px;">
                            <%= formattedPreparerDate %>
                        </div>
                    </div>
                    <div class="el-row" style="border-bottom:1px solid #000000">
                        <div class="el-col el-col-4 el-col-md-4 el-col-sm-24" style="height:50px;padding-top:15px;padding-left:15px;">
                            <%= t.referral.referralConfirmationForm.reviewedBy %>
                        </div>
                        <div class="el-col el-col-12 el-col-md-12 el-col-sm-24" style="font-size: 16px;height:50px;border-left:1px solid #000000;padding-top:15px;padding-left:15px;">
                            <%= reviewer %>
                        </div>
                        <div class="el-col el-col-8 el-col-md-8 el-col-sm-24" style="height:50px;border-left:1px solid #000000;padding-top:15px;padding-left:15px;">
                            <%= formattedReviewDate %>
                        </div>
                    </div>
                </div>
                <div class="el-row">
                        <span class="small-instructions"><%= t.referral.typesOfServices.list %>
                        <span>A - <%= t.referral.typesOfServices.a %>; </span>
                        <span>B - <%= t.referral.typesOfServices.b %>; </span>
                        <span>C - <%= t.referral.typesOfServices.c %>; </span>
                        <span>F - <%= t.referral.typesOfServices.f %>; </span>
                        <span>L - <%= t.referral.typesOfServices.l %>; </span>
                        <span>M - <%= t.referral.typesOfServices.m %>; </span>
                        <span>R - <%= t.referral.typesOfServices.r %>; </span>
                        <span>T - <%= t.referral.typesOfServices.t %>; </span>
                        <span>V - <%= t.referral.typesOfServices.v %>; </span>
                        <span>O - <%= t.referral.typesOfServices.o %>; </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

